[2015-04-26 23:22] Dan1el42 opened #3 "Should xIPAddress force the network connection profile to Private?"
The xIPAddress resource is currently forcing the network connection profile of the interface being configured to Private in the internal ValidateProperties function.

[code]

Invoking Set-NetConnectionProfile for domain joined machines throws an exception which is being suppressed by the ErrorAction parameter. The resource does not test for the network connection profile. Changes to the network co

[2015-05-27 16:38] tysonjhayes opened #5 "Module xDSCResourceDesigner was not found in central repository"
While working on PR #4 I found that I was not able to install xDSCResourceDesigner from the central repository. Was asked to file an issue on this as I should have been able to pull this down.

[2015-06-25 19:07] BladeFireLight opened #7 "Pester test not passing"
Errors from both xFirewall and xIPAddress tests
Describing Schema Validation for MSFT_xFirewall
 [-] Error occurred in Describe block 50ms
   Access to the path 'MSFT_xADRecycleBin' is denied.
   At H:\GitHub\xNetworking\Tests\MSFT_xFirewall.Tests.ps1:10 char:5

Import-Module : The specified module 'xDSCResourceDesigner' was not loaded because no valid module file was found in any
module directory

[2015-06-25 19:08] BladeFireLight commented on #7
Describing Schema Validation for MSFT_xFirewall
[10,5: Copy-Item] Access to the path 'MSFT_xADRecycleBin' is denied.
[10,5: Copy-Item] Access to the path 'C:\Program Files\WindowsPowerShell\Modules\MSFT_xADRecycleBin' is denied.
[10,5: Copy-Item] Access to the path 'C:\Program Files\WindowsPowerShell\Modules\MSFT_xADRecycleBin' is denied.
[10,5: Copy-Item] Access to the path 'C:\Program Files\Wind

[2015-07-22 10:33] leshkinski opened #8 "HostsFile management"
Hi! I'm dealing with a requirement to manage hostsfile and found an existing [community effort](https://github.com/rchaganti/DSCResources/tree/master/cWindowsOS/DSCResources/cHostsFile) to address this, but thought that it would logical to add this functionality to the Networking resource module going forward. Are there any objections if I add a HostsFile resource to this module?

[2015-07-24 19:52] lorengordon opened #9 "Should xIPAddress disable DHCP?"
If a user is setting the IP address via DSC, then it seems reasonable that they don't want DHCP enabled. Currently the test for xIPAddress only checks whether the IP is correct, not whether the interface got that IP via DHCP. I ran into this when trying to convert an interface from DHCP to a static IP, but I wanted to use the same IP that had been assigned to it via DHCP. Right now, it seems I can

[2015-07-24 20:42] lorengordon commented on #9
Ahh, so, I just reviewed the [test code](https://github.com/PowerShell/xNetworking/blob/dev/DSCResources/MSFT_xIPAddress/MSFT_xIPAddress.psm1#L147) and have other concerns, too... What if the IP is correct, but the subnet mask is not? Or if the default gateway is incorrect? This code will skip those issues, won't it? Apologies if I'm not reading the code correctly. This is my first time diving int

[2015-08-03 18:44] tysonjhayes commented on #7
I submitted a fix for the copy-item bug, basically removing it and referencing the path instead. This is the same way we do this in the xWebsite testing.  This might fix the problem with the xDSCResourceDesigner which I'm assuming you have present on your machine.

[2015-08-03 18:45] tysonjhayes commented on #8
I'm not aware of anything besides the community effort. I think it makes more sense in the Networking module then its own. So please feel free to add it!

[2015-08-03 18:46] tysonjhayes commented on #9
I think I remember having concerns about that when I was last looking at this module. You are correct that if the default gateway, subnet mask, etc will not be validated correctly if the IP address is correct. If you wanted to submit a fix for this I'd be happy to review it and offer suggestions.

[2015-08-03 21:00] lorengordon commented on #9
Not sure I'll have time to test this beyond my local workstation, but to address the second issue, maybe something like the below for that try/catch block.

This code doesn't address the DHCP question, but I was thinking that if this module gets the ability to disable DHCP, then it should probably be able to enable it as well, but enabling DHCP doesn't seem relevant for an 'IPAddress' module. Perh

[2015-08-03 21:11] lorengordon commented on #9
I suppose in the $DefaultGateway test I would probably also check the parameter's format using `[System.Net.Ipaddress]::TryParse()`...

[2015-08-03 22:31] KarolKaczmarek commented on #7
Thanks @tysonjhayes for the fix with copy-item issue.

@BladeFireLight The Test-xDscResource issue looks like there might be no DSC Resource Designer on the machine. Can you confirm it's there?

[2015-08-03 22:38] tysonjhayes commented on #9
So looking over this code again I really disagree with the way its written. Most DSC code is written where Test just validates the config where Set actually does the work. With the combined methods it's logically hard to parse, but that's probably a different issue for a different pull request.

Speaking of which could you please submit this as a pull request? We'll want to run it through the exis

[2015-08-04 13:54] lorengordon commented on #9
Agree on all points. I'll work up a pull request sometime this week (got a few short term deadlines with work that I need to focus on first). Is the test suite public? I like to execute tests locally before pushing, if I can. Also, is there a DSC module you'd recommend as an example for The Right Way to structure the functions? I'll first get it working just with the modified `if` structure, but t

[2015-08-04 14:05] lorengordon commented on #9
Found the Contributing document and the Tests directory. I'll refrain from further stupid questions until I read it and study the Tests.

[2015-08-07 21:16] lorengordon commented on #9
@tysonjhayes thanks for the pointers. I just submitted PR #11. I didn't refactor Set and Test yet. Not really used to the syntax of the pester tests yet, so I did just enough to fix this issue and get the existing tests passing.

I'm rather confused by the function of Get-TargetResource. It doesn't seem to be doing much all that useful -- other than the IP Address, it just returns the parameters p

[2015-08-07 22:43] tysonjhayes commented on #9
Get-TargetResource is garbage in my mind. I totally vote we change it to something better.

Also yes I think it makes sense to reference Get-TargetResource as appropriate.

I'll have some comments on the PR. :+1: Thanks for doing this.

[2015-08-10 09:15] janegilring opened #12 "xFirewall: Get-DscConfiguration fails"
When xFirewall is used in a DSC configuration, Get-DscConfiguration fails with the error:
"Unable to cast object of type 'System.Management.Automation.PSObject' to type 'System.Collections.IList'."

[2015-08-10 16:14] tysonjhayes commented on #12
If you could walk me through a bit more of this.

Basically are you, applying a Firewall configuraiton and then call Get-DscConfiguration? Are you applying any other configuration besides the firewall change? Could you share the configuration your using?

[2015-08-10 19:06] janegilring commented on #12
Here is an example:
Configuration Firewall {

Import-DscResource -ModuleName xNetworking

Firewall RDP {

Name = 'Remote Desktop - User Mode (TCP-In)'
DisplayGroup = 'Remote Desktop'
Ensure = 'Present'
State = 'Enabled'
Access = 'Allow'
Profile = 'Domain'
Description = 'Inbound rule for the Remote Desktop service to allow RDP traffic. (Created by DSC)'
LocalPort = '3389'
Protocol = 'TCP'
Direction

[2015-08-10 21:03] tysonjhayes commented on #12
I can confirm a repro on WMF 4.0 Server 2012 R2.  Though I'm unclear as to the cause. @TravisEz13  do you have any ideas?

[2015-08-11 04:38] janegilring commented on #12
Thanks for confirming. I forgot to mention it, but Get-TargetResource works fine here as well.

[2015-08-11 15:58] tysonjhayes commented on #12
My vague understanding of this stuff is that Get-DSCConfiguration calls Get-TargetResource for all of the applied resources. So my guess is something about Get-TargetResource needs to be adjusted.  Though I'm just unclear what.

[2015-08-11 18:26] janegilring commented on #12
That is correct, Get-DSCConfiguration calls Get-TargetResource.
I also think it`s strange that it works when it`s invoked manually, The only difference I can see is that DSC runs under the SYSTEM account, we might try to run Get-TargetResource in that security context by using for example psexec.

[2015-08-12 14:04] rchaganti commented on #8
I am submitting a pull request for adding HostsFile DSC resource from my repo. I have included only DSC resource and schema tests for now. I will eventually add more tests related to functionality of the HostsFile resource.

[2015-08-12 16:58] tysonjhayes commented on #12
I've never tried doing that, how does one go about leveraging psexec to do that?

[2015-08-12 19:27] janegilring commented on #12
Download psexec.exe and launch powershell.exe using this syntax:
C:\SysinternalsSuite\psexec.exe /i /s powershell.exe

Type whoami to verify you`re running as SYSTEM.
You`re now ready to check if Get-TargetResource runs correctly when launched manually.

[2015-08-12 23:56] tysonjhayes commented on #12
OK I ran the get-targetresource under the system context and did not observe any difference in behavior.  Get-TargetResource ran without a problem and Get-DSCConfiguration also failed.

[2015-08-13 05:35] janegilring commented on #12
Good, then it`s not related to the security context.
Since it works when run manually it may seem like it`s something related to the way DSC invokes it.
It would be useful if we could get some pointers from someone on the PowerShell team.

[2015-08-21 17:15] tysonjhayes commented on #7
@BladeFireLight did this start working with you after my fix went in?

[2015-08-21 17:16] tysonjhayes commented on #3
Sorry to just be getting to this but I think the answer is no, that being said I'm not sure xIPAddress should be setting this at all, I'm going to be opening a discussion on this next week with my thoughts of where this resource should go.

[2015-08-21 18:42] #9 closed

[2015-08-21 18:44] tysonjhayes opened #14 "Improve Test Coverage for all Resources"
Currently DNS isn't covered at all that needs to be corrected. Firewall just has some basic tests hitting it. We should get this trued up.

[2015-08-22 00:24] dcrreynolds commented on #12
The RemotePort and LocalPort properties are returning a string instead of a list when there is only one or no local/remote port being configured. This doesn't match the object that DSC is expecting to get returned.

[2015-08-22 00:31] tysonjhayes commented on #12
@dcrreynolds that theory makes sense. how do you know it's those two properties in particular?  I'll test this on Monday when I'm back in the office.

[2015-08-22 00:41] dcrreynolds commented on #12
Tested them individually in my lab. Wrapped both in @(...) and tested for multiple ports, single port, and no ports with no issue. Was going to send a pull request, but GitHub seems to be having an issue with it atm.

[2015-08-24 18:13] tysonjhayes commented on #12
@dcrreynolds are you able to send a pull request now? Would love to have you contribute.

[2015-08-25 00:44] dcrreynolds commented on #12
Not yet. I have an open email with GitHub support.

[2015-08-25 15:41] tysonjhayes commented on #12
Well drat, to be clear you basically did this:

[code]

If so I'll get some basic tests done on the get-targetresource function and get a pull request open.

[2015-08-25 17:06] dcrreynolds commented on #12
That was it.

[2015-08-25 17:34] tysonjhayes commented on #12
Ok ran it in my lab and I can confirm that that change does fix the problem. I'll get some tests cobbled together and get a pull request going.

[2015-08-26 07:56] janegilring commented on #12
It seems to work fine in my lab as well, excellent!

[2015-09-01 16:03] tysonjhayes commented on #5
Resolved with #16

[2015-09-01 16:03] #5 closed

[2015-09-02 21:18] tysonjhayes opened #17 "Breakup IP Address Resource to DHCP and Static"
I think xIPAddress is trying to cover the gambit on what is really two distinct things.  One use case would be trying to assign a NIC a static IP address.  The other would be to assign the NIC to a DHCP server.

As the NIC can not have a static IP and be assigned to a DHCP server I prepose we break up the resources to handle those two different tasks.  This way we could have StaticIPAddress and DH

[2015-09-03 07:47] Dan1el42 commented on #17
What about using Ensure = Absent to enable DHCP on a network interface instead breaking up the resource? If you specify Ensure = Present the IPAddress property must be required to configure an IP address.

Wouldn't that provide the same consistency and follow more closely the DSC concepts?

"Just my 2 cents"

[2015-09-03 14:33] BladeFireLight commented on #17
That only makes sense if the Absent IP is the only IP on the NIC. Why not have the IP address take a string and allow DHCP as the value. then all IP's can be removed and DHCP turned on.

[2015-09-03 18:37] tysonjhayes commented on #17
I guess the way I'm thinking of it is the division is really around how we implement the logc.

To borrow from [a blog post](http://www.adminarsenal.com/admin-arsenal-blog/using-powershell-to-set-static-and-dhcp-ip-addresses-part-1) I found setting up a static IP is done this way.

[code]

Where a DHCP is setup like this:
[code]

For DHCP this becomes of Ensure = 'Present' means set DHCP, Ensure =

[2015-09-03 18:41] tysonjhayes opened #18 "Create Gateway Resource"
Given that a gateway is set at the resource level, and DNS is already its own resource, I'm thinking it would make sense to set the default gateway as its own resource as well. This would break up the logic for the resources into more descrete components and allow more targeted changes in our code fixes and for setting the configuraiton.

Thoughts?

[2015-09-03 18:54] tysonjhayes opened #19 "Create NetConnectionProfile resource"
I'm thinking we should create a NetConnecitonProfile resource. This would allow the management of the NetworkCategories  of Private/Public/Domain etc on the interface level. This would also mean pulling it it out of xIPAddress which would solve #3 by doing this.

Before doing this work I wanted to ask the community their thoughts on the design.

Thanks!

[2015-09-03 19:15] Dan1el42 commented on #19
Great idea :-). I actually have a draft of an DSC resource call xNetConnectionProfile on my cloud drive.

The basic design I would like to propose is:

Get/Set/Test-TargetResource invoke internal functions Get/Set/Test-NetConnectionProfileInternal which invoke the Get/Set-NetConnectionProfile functions of the PowerShell module included with each OS with some additional logic and verbose logging.

[2015-09-03 20:50] tysonjhayes commented on #19
I'm not really a fan of internal functions unless they serve a good purpose, just my opinion really, just seems an unnecessary level of complexity when the three primary funcitons work just as well. However, I can appreciate the thought process behind the idea and will withold judgement until I can actually see it. :grinning:

If you have time this Saturday to take a crack at it I'd love to see it

[2015-09-05 06:28] PlagueHO opened #20 "Error Assigning both IPv4 and IPv6 DNS addresses to the same Adapter"
The following DSC config fails:

Configuration MyNetworking {

Import-DscResource -ModuleName xNetworking
Node Computer01 {
	xDnsServerAddress IPv4D2 {
            Address        = '192.168.128.10'
            InterfaceAlias = 'Ethernet 2'
	    AddressFamily  = 'IPv4'
	}
	xDnsServerAddress IPv6D2 {
            Address        = 'fd53:ccc5:895a:bc00::a'
            InterfaceAlias = 'Ethernet 2'

[2015-09-09 08:39] iainbrighton commented on #19
FYI - I created this a while ago https://github.com/iainbrighton/cNetworkProfile. I'm happy for it to be developed further, merged into another repo or completely ignored. Some of the code might help?

[2015-09-09 08:50] Dan1el42 commented on #19
@iainbrighton, Thanks for the pointer. I will checkout your resources and look into how we can merge them.

[2015-09-09 22:01] iainbrighton commented on #18
I agree that the gateway resource should be in a separate resource. There may be times you don't want to set a gateway (on a second NIC for example) but the IPAddress resource currently requires this!

[2015-09-09 22:05] iainbrighton opened #22 "IPAddress requires Gateway configuration"
I would like to see the enforcement of a default gateway address when setting an IP address (also discussed in issue #18) removed. The gateway address really has nothing to do with the IP address assignment other than MS putting it in the same GUI!

This should be a relatively easy, non-breaking change too.

[2015-09-09 22:08] iainbrighton opened #23 "DNS Connection Suffix Resource"
It would be good to be able to configure a connection suffix on a NIC. There are times when this is required (like in a multi-homed networking environment). I think this should probably be a new, descrete resource. Thoughts?

[2015-09-09 22:33] tysonjhayes commented on #23
I'm not sure I'm following this, could you give an example of what you are trying to do?

[2015-09-10 08:34] iainbrighton commented on #23
Just like configuring the DNS server address, be able to manage these:

![image](https://cloud.githubusercontent.com/assets/7023258/9783760/ade76b68-579e-11e5-88ed-ad5d9249306d.png)

The code to set the connection suffix is
[code]

[2015-09-10 13:31] tysonjhayes commented on #23
Ah now I get it, yeah, let's do it. :+1:

[2015-09-15 07:31] PlagueHO commented on #18
:+1:
This change does make sense to me and would simplify a lot of my configs.

Presumably the schema would be something like this?
[code]
I set both IPv4 and IPv6 gateways on the same interface usually so ideally it would support both :)

[2015-09-15 21:17] tysonjhayes commented on #18
Yeah that seems pretty good to me. I won't have time for a bit to get started on it but if if anyone wants to take a pass I'd gladly do a code review.

[2015-09-15 21:55] PlagueHO commented on #18
I'm happy to take it on if it's good with you. After all, it'll simplify my configs :)

[2015-09-15 22:51] tysonjhayes commented on #18
Consider it yours @PlagueHO

[2015-09-15 23:41] PlagueHO opened #25 "xFirewall: Need a way of enabling built-in Firewall Rule without setting all properties"
An example:
I was trying to use xFirewall to enable the built-in Firewall rules for FSRM:
![before](https://cloud.githubusercontent.com/assets/7589164/9892704/70499db4-5c65-11e5-9554-4cdceb6cdf83.png)
Using:
[code]

It was enabling the rule just fine, but was replacing the properties:
![after](https://cloud.githubusercontent.com/assets/7589164/9892740/e4f23130-5c65-11e5-867d-90f30556dab2.png)

Thi

[2015-09-17 17:54] tysonjhayes commented on #22
This is fixed with #26. Thanks!

[2015-09-17 17:55] tysonjhayes commented on #18
This is fixed, closing this out. Thanks everyone!

[2015-09-17 17:55] #18 closed

[2015-09-17 22:19] PlagueHO commented on #20
This one is resolved! :+1:

[2015-09-17 22:19] #20 closed

[2015-09-17 22:33] PlagueHO commented on #14
I'll throw some tests in for this if you like? I was getting terminating errors thrown by Get-TargetResource when executing Get-DSCConfiguration when the xfirewall resource was being used, so I was going to take a look at this resource anyway and writing pester tests is a good way to get my head around it. It may also give me some ideas on best way to rearchitect xIPAddress to get rid of the Test-

[2015-09-17 23:13] tysonjhayes commented on #14
Go ye forth @PlagueHO. I'm hoping to loop back these sometime next week and get my firewall fixes working.

[2015-09-25 17:49] #12 closed

[2015-09-28 18:19] #22 closed

[2015-10-10 05:59] PlagueHO commented on #25
I've been thinking about this issue and I think I can see a way the resource could be changed to support this user story fairly easily.

The issue at the moment is in lines 131-134 of MSFT_xFirewall.psm1:
[code]
This code fires whenever a rule needs to be updated. This effectively destroys the structure of a built in rule.

What could be done instead is to build a @splat object out of the PSBoundP

[2015-10-12 15:45] tysonjhayes commented on #25
Seems like a good idea to me, the user story seems like a good use case. I think this makes sense to work on.

[2015-10-14 06:41] PlagueHO commented on #25
I've been working on this issue and after reviewing the code some more I've realized that all the foreach() loops that update or check multiple rules are actually redundant. The reason is that the  Get-FirewallRule function always fires the Get-NetFirewallRule cmdlet passing a Name parameter, which can only ever return 0 or 1 rules - it can't return more than one because this field must be unique.

[2015-10-14 16:11] tysonjhayes commented on #25
I believe I remembered thinking that when I was last doing a refactor pass on it. So I can't think of a reason not to get rid of it, try writing some unit tests to prove your logic so we can prove it still works after the change.

[2015-10-14 17:28] bgshacklett opened #30 "xIPAddress resource currently incompatible with Windows Server 2008 R2"
There are multiple calls to networking cmdlets like Get-NetIPAddress, Get-NetRoute and Get-NetIPInterface, specifically in the Test-TargetResource function. These cmdlets are unavailable on Windows Server 2008 R2, making it impossible to use this

[2015-10-14 20:19] PlagueHO commented on #25
Very good point - I'll add a check in to Get-FirewallRule to throw an exception if any more than one rule is returned - I'll make it a terminating exception because well, it indicates something is very wrong somewhere. Can then test for it in the unit tests.

Also, if the assumption that Name is unique and should never return more than one result, there isn't actually any point in looking for a re

[2015-10-16 08:56] PlagueHO commented on #14
Hopefully this one can be closed now too as I think test coverage for the existing resources is at about 100% :)

[2015-10-16 15:07] tysonjhayes commented on #30
I've been thinking about this and, in my opinion I'm not sure this is really in scope for xNetworking. Making this system backwards compatiable to 2008 R2 would represent quite a bit of work as it does lack a number of PowerShell commands that were introduced in later versions. Not to mention most of the resources that are being added are assuming that they have access to those cmdlets. I also wou

[2015-10-17 00:22] #25 closed

[2015-10-17 04:14] PlagueHO commented on #30
My 2c: I agree with @tysonjhayes. I'd also add that implementing this would require either calling NETSH commands and then parsing the results back into PS Objects or possibly using WMI/CIM, both solutions don't seem to be ideal. And NETSH has been deprecated in Windows Server 2012 R2 and above, so that would mean supporting multiple code paths depending on the system version.

[2015-10-17 06:18] PlagueHO opened #32 "xIPAddress: Incorrectly reports that DHCP is enabled for IPv6 addresses"
The xIPAddress resource when used to set a static IPv6 address will misreport that the interface on the adapter is configured with DHCP when it is not. This causes Test-TargetResource to return $False, triggering the IP Address to be updated every time the config is applied.

The problem appears to be in the Get-NetIPInterface cmdlet at line 234 of MSFT_xIPAddress.psm1. I am referring to the curre

[2015-10-17 23:50] PlagueHO commented on #32
And another example (except in a Windows Server 2012 R2 Full install):
![pic2](https://cloud.githubusercontent.com/assets/7589164/10561792/a463317e-7596-11e5-9809-a996f3055262.png)

[2015-10-18 00:31] PlagueHO commented on #32
After further review I think the problem can be resolved by manually setting the DHCP status on the IPv6 Interface in Set-TargetResource when the IP address is set. Alternately the check to ensure DHCP is set could be removed completely. This seems to make more sense when taking Issue #17 into account (moving DHCP into a separate resource).

My feeling is that the check for the DHCP setting should

[2015-10-28 08:57] nebffa opened #34 "xFirewall: Fails on port keywords"
The following DSC script:

[code]

fails with the logs:

[code]

At [this page](https://technet.microsoft.com/en-us/library/jj554908(v=wps.630).aspx) on `New-NetFirewallRule`, the documentation says that `PlayToDiscovery` is a valid keyword when the procotol is `TCP`, so this operation should not fail.

[2015-10-28 13:22] #14 closed

[2015-10-28 20:29] PlagueHO commented on #34
I'll take a look and see if I can figure out what the issue.

[2015-10-28 21:54] PlagueHO commented on #34
Hi @nebffa ,

I did a bit of digging around and this isn't problem with the resource.

The issue is that the LocalPort parameter can only take on the parameter of PlayToDiscovery *if* the protocol is UDP. PlayToDiscovery is *not* supported by the TCP protocol in WFAS.

You can confirm this by executing:
[code]
It will fail with the Error:
New-NetFirewallRule : One of the port keywords is invalid.

[2015-10-28 22:10] tysonjhayes commented on #34
Is there anything we can do to clear up the error logs to make that clearer for the next user?

[2015-10-28 22:15] nebffa commented on #34
Hey @tysonjhayes , thanks that was really quick. The Microsoft documentation is clearly erroneous in that it says the keyword would work with TCP.

I noticed in other error messages that xFirewall returns, it displays the possible parameters that you could supply instead. I think that would also be useful in this case.

Interestingly, what I was trying to do from the start was set a firewall rule

[2015-10-28 22:17] tysonjhayes commented on #34
Hey @nebffa thank @PlagueHO he did most of the work. :+1: Let us know what you can find we're trying to improve this as much as we can.

[2015-10-28 22:42] nebffa commented on #34
Sorry, you're right @tysonjhayes . Thanks @PlagueHO  as well for your help.

I played around with it a bit more. All I needed to do was use `LocalPort = "RPC"` to get what I need.

The Microsoft docs say `If the Protocol parameter is not specified, then the acceptable values for this parameter are: RPC, RPCEPMap, Teredo, IPHTTPSIn, IPHTTPSOut, or Any.` which makes it sound like you can't use these

[2015-10-29 00:26] PlagueHO commented on #34
Hi @tysonjhayes and @nebffa ,

When I was investigating this I found the [New-NetFirewallRule](https://technet.microsoft.com/en-us/library/jj554908%28v=wps.630%29.aspx) cmdlet docs are definitely not too clear on this - which is what had be scratching my head as well. I've added a community addition to the documentation on this page.

@tysonjhayes, it would definitely be possible to sanitize the p

[2015-10-29 13:25] tysonjhayes commented on #34
We could start with a list of known bad combinations, and expand from there, I don't really want to write a bunch of code to handle everything as one off combinations just to bubble up the excepton properly.  I was more thinking could we get it to say "One of the port keywords is invalid." which was the actual exception.  I'll look at the code later.

Side note, I was noticing that this came out o

[2015-10-29 20:43] PlagueHO commented on #34
Regarding the "One of the port keywords is invalid" exception, when I actually tested this problem and ran the config through my test systems, that was actually the error that was reported to me in the Verbose log. This did strike me as odd given that the error the logs @nebffa posted shows a different error. I might do some additional investigation on this as I don't like mysteries...

And good c

[2015-10-29 20:55] PlagueHO commented on #34
Actually, ignore the part about me getting a different message to @nebffa. I tried it again and got the same message. It must have been when I was just running the New-NetFirewallRule cmdlet on it's own. I'll see if I can figure out why the message is showing up as it is. Leave it with me :)

[2015-10-29 22:25] PlagueHO commented on #34
After further experimentation, I found that the message "One of the port keywords is invalid" message is reported in the Verbose log *if* the firewall rule does not yet exist:
[code]

If a version of the firewall rule already exists (regardless of how that rule is configured), then that is when the error that @nebffa's log is showing. So in summary, the odd error message only occurs when updating

[2015-10-29 23:04] PlagueHO commented on #34
I've found and fixed the issue where the error is being misreported. It is actually a slightly more significant bug in that any time the DisplayName is passed when the rule already exists an error would be thrown. I'm going to add some pester tests to check for this issue in future, but I'm away for the rest of this week so I'll do it first thing next week. Thanks all.

[2015-10-29 23:12] tysonjhayes commented on #34
No rush, I think you've documented it fairly well up to this point. I'm sure anyone who runs into this until we've gotten a fix in will be able to find this issue and sort it out. :grin:  Thanks for looking into this.

[2015-10-30 20:09] amitsara opened #36 "Cannot change preferred dns address using latest xDNSServerAddress resource"
Configuration foo
{
    import-dscresource -modulename xNetworking

    xIPAddress setStaticIPAddress
    {
        IPAddress      = "192.168.100.32"
        InterfaceAlias = "Ethernet"
        SubnetMask     = 24
        AddressFamily  = "IPv4"
    }

    xDNSServerAddress setDNS
    {
        Address        = "192.168.100.7"
        InterfaceAlias = "Ethernet"
        AddressFamily  = "IPv4"

[2015-11-01 20:43] PlagueHO commented on #36
I'll take a look and see what is going on with the logging and why the DNS address is not changing with 2.4.0.0.

[2015-11-02 02:48] PlagueHO commented on #36
Hi @amitsara,

I just noticed you were using v2.3.0.0 of the resource. Are you able to try this with the v2.4.0.0 resource? I haven't been able to replicate the problem using the v2.4.0.0 resource.

The logging issue:

VERBOSE: [SAFEHARBORVM]: [[xDNSServerAddress]setDNS] Test-TargetResou
rce: DNS Servers are not correct. Expected "System.String[]", actual "System.String[]".

still exists in v2.4.0

[2015-11-02 18:46] tysonjhayes commented on #36
Thanks for the reminder, made some comments on #35 and we should be able to get it in some minor tweaks.

[2015-11-02 20:26] PlagueHO commented on #36
Oh, I only meant that it hadn't gone into an official numbered release yet :)

[2015-11-02 22:45] tysonjhayes commented on #36
@amitsara #35 is merged, could you update and see if this is fixed for you?

[2015-11-05 14:05] iainbrighton opened #39 "xDnsServerAddress fails if DNS server is not reachable"
In the later versions of the xDnsServerAddress resource, the `-Validate` switch has been added to the `Set-DnsClientServerAddress` cmdlet. If this address is not contactable, unavailable or unreachable etc., then the DSC configuration fails.

This call should be removed as the resource is not there to validate whether the DNS server is (yet) available, reachable or contactable - it should just do

[2015-11-05 18:07] #23 closed

[2015-11-05 18:26] amitsara commented on #36
Sure, I will verify it. Thanks :)

[2015-11-05 19:14] amitsara commented on #36
#35 is fixed in v2.4.0.0 :)

But Setting up DNS address is still failing. I looked at the resource implementation and found while changing DNS entry, it is verifying whether DNS server is reachable or not (by passing –validate flag). In my case DNS is down :)

Will it be a good idea to expose ‘Validate’ property in the resource? instead of forcing user to get the DNS server up and running.

# Set

[2015-11-05 21:01] PlagueHO commented on #39
So basically, get rid of the -validate parameter on the Set-DnsClientServerAddress cmdlet? Can you clarify this? I'm not sure which resource might not yet be available, reachable or contactable? Are you meaning the resource on another server that creates/configures the DNS Server/Zone etc? In that case I'm actually 100% with you there and have run into similar situations (but worked around it by u

[2015-11-05 21:09] PlagueHO commented on #36
Hi @amitsara ,

This error is usually caused by the DNS Server not being accessible. Can you confirm the DNS Server at 192.168.100.7 is up and accessible? The DNS Server connection is validated when it is assigned.

Try running:
[code]

in a powershell window on the machine that the DSC config is assigned to. Does it work successfully?

Thanks! :+1:

[2015-11-05 21:15] amitsara commented on #36
As I said, DNS server was down that's why I was getting error. now DNS server is up and resources is working fine.
But the question is should we allow user to choose weather s/he wants to validate DNS server or not?
something like this

xDNSServerAddress setDNS
{
    Address        = "192.168.100.7"
    InterfaceAlias = "Ethernet"
    AddressFamily  = "IPv4"
    Validate       = $true
}

[2015-11-05 21:25] PlagueHO commented on #36
My bad :( Sorry I missed that part. And you raise a good point. @iainbrighton has raised the same thing (or removing -Validate) entirely from in Issue #39 . Having a Validate parameter might be a good way to satisfy both sides. Default to validate = $false would be my thoughts.

[2015-11-05 21:25] iainbrighton commented on #39
Correct - when provisioning a lab/text environment, this resource now fails _unless_ the DNS server is available, up-and-running and responding during the configuration pass. Simply removing line 105 in the xDnsServerAddress.psm1 file fixes the issue!

@tysonjhayes - IMHO the configuration and state of the DNS server are of no concern to the client!

[2015-11-05 21:28] amitsara commented on #36
Agree :+1:

[2015-11-05 21:28] iainbrighton commented on #36
Defaulting to $false would make sense and I'm happy with that.

IMHO there should be no $Validate option. You either want the DNS set or you don't, it's up to you to make sure you specify a valid DNS server. The resource's responsibility is to configure the client, nothing more, nothing less. Just my 2c!

[2015-11-05 21:30] PlagueHO commented on #39
The same issue has been raised in #36. @amitsara has suggested adding a **validate** parameter that defaults to $false and could be set to $true if validatation was required when setting the resource.

But I am straining to find a purpose to keep validation in at all TBH - and removing it would certainly be easier :)

[2015-11-05 21:32] PlagueHO commented on #36
Shall we fold this discussion into #39? :)

[2015-11-05 21:34] amitsara commented on #36
Sounds good, I am closing this bug.

[2015-11-05 21:34] #36 closed

[2015-11-05 21:35] PlagueHO commented on #39
I'm on the delete side as well. Just would like to hear from @tysonjhayes on it as we did do away in a recent PR but I think I remember he suggested it get added back, so there might be a reason for it being in there.

[2015-11-05 22:17] tysonjhayes commented on #39
Geez, guy goes to lunch and his inbox blows up as he's beeing name checked in a couple of issues. :laughing:

Let me start by saying I can be persuaded either way here.

1) The value to me in the validate is simply that, to validate that the DNS is responding as expected. Which I saw value in some scenarios as I didn't really imagine setting DNS without having the DNS I'm setting online, but I'm h

[2015-11-05 22:28] iainbrighton commented on #39
Lunch? Who said you could go during our hour of need?! :P

I think I've made my views clear! In short, as long as there's a way of turning the -Validate option off then I'll be happy.

[2015-11-05 22:59] PlagueHO commented on #39
What are you talking about? It's barely breakfast here. On Friday. :)

Ok. Lets go with the validate option. Works for me - it's fairly easy either way. I can put it together later on today if you like?

Any thoughts on what the default value should be? I'm really 50/50 on it TBH.

[2015-11-05 23:01] tysonjhayes commented on #39
Oh $false without a doubt. Personally hate it when boolean/switches are set to true by default. Super confusing, and from the issues would cause more impact anyway.

Also not all of us are lucky enough to live in Kiwi future. Pffft. :stuck_out_tongue_closed_eyes:

Also yes if you would be so kind :+1:

[2015-11-05 23:16] PlagueHO commented on #39
Cool! Decision made :+1:

I'll get it through later on today.

Also, I'm sure there's an applicable "back to the future" joke in there too somehow...? :)

[2015-11-06 19:53] PrahlM93 opened #41 "Get-DscConfiguration Fails on Firewall Rule"
Hello,
Using xNetworking 2.4, I am having issues running Get-DscConfiguration.

My configuration block looks as follows:
[code]

I get the following error in Event Viewer when running Get-DscConfiguration:
[code]

It seems that the Group property isn't defined in the schema. I ended up adding it as a read-only property and it seems to work but the information isn't particularly useful as shown bel

[2015-11-07 01:55] tysonjhayes commented on #41
Howdy - I have a fix for this as well I was planning on adding some integration testing back into the code and managed to get it working with it and your suggested changes.

[2015-11-09 16:33] tysonjhayes opened #44 "xFirewall: Modify Set-TargetResource to support both Group/DisplayGroup"
Right now there is a limitation in the code where xFirewall doesn't support setting both Group and DisplayGroup, the code pretty much doesn't let us set Group. This should be changed to allow both.

[2015-11-09 16:37] #41 closed

[2015-11-09 16:38] tysonjhayes commented on #39
@iainbrighton we merged the change to try to fix this. Could you confirm you're now unblocked?

[2015-11-09 16:38] tysonjhayes commented on #34
This was fixed in #37 which is now merged. Please reopen this if you are still blocked on the latest code.

[2015-11-09 16:38] #34 closed

[2015-11-09 17:32] tysonjhayes opened #45 "Add Integration Template to Project"
Add a template of how we want Integration tests to be done in this project. Once we have a few of them we should add the template to other projects in the PowerShell group.

Template should outline how we expect the tests to act and where to copy things for maximum compatibility.

[2015-11-09 20:23] cydhaselton opened #47 "Missing "Scope" param for xFirewall"
Cannot specify a set of Remote and or Local IP addresses/subnets for the xFirewall configuration

[2015-11-09 20:33] tysonjhayes commented on #47
Sorry I'm not that familiar with this configuration. Are you looking to specify RemoteMachine/RemoteAddress parameter for NetFirewalRule?

[code]

[code]

[2015-11-09 20:50] PlagueHO commented on #44
:+1:

I could have a go at this change this week if you like? I've have some ideas on the changes that need to be made.

The fiddliest part is working around the issue where a DisplayGroup can't be renamed (https://connect.microsoft.com/PowerShell/feedbackdetail/view/1970765/add-ability-to-change-firewall-displaygroup-in-set-netfirewallrule-cmdlet) or where the Group needs to be renamed on an exis

[2015-11-09 21:01] PlagueHO commented on #44
Also, I added another request to Windows Connect to allow the Group to be changed in the Set-NetFirewallRule cmdlet:

https://connect.microsoft.com/PowerShell/feedbackdetail/view/2000226/add-ability-to-change-firewall-group-in-set-netfirewallrule-cmdlet

[2015-11-09 21:11] cydhaselton commented on #47
Correct.  I am looking to specify the remote address/machine parameter for NetFirewallRule within DSC.
I was looking for the parameter in xFirewall...is it in a different location?

[2015-11-09 21:12] tysonjhayes commented on #44
One of these days we'll get everything open sourced so we can submit pull requests. :+1:

[2015-11-09 21:14] tysonjhayes commented on #47
I believe it should be in there, not sure why its not. It'll be a bit before I can spend some time looking at this and code up a solution.

I think it should be pretty straight forward. @PlagueHO might have time to get to this before I do but I'll try to get to it soon.

[2015-11-09 21:15] PlagueHO commented on #44
Now that would be awesome :) I'll happen one day I'm sure. Still, Connect is a pretty good way to start.

[2015-11-09 21:19] PlagueHO commented on #47
I'll take a look when I do PR #44 - should be fairly straight forward! :+1: I'll take a look at these tonight if you like?

[2015-11-09 21:20] tysonjhayes commented on #47
No rush on my account. Thanks!

[2015-11-09 21:23] cflesher opened #48 "xFirewall - error"
Each time I run this

[code]

I get the following error

[code]

It's basically a copy of what is in the example....but it doesn't apply. Is there something I'm missing? I have other settings that work fine on this machine.

[2015-11-09 21:26] tysonjhayes commented on #48
Which version of the code are you running?

[2015-11-09 21:27] cflesher commented on #48
# Version number of this module.
ModuleVersion = '2.4.0.0'

[2015-11-09 21:28] tysonjhayes commented on #48
Sorry are you using the dev fork or are you using the code from the Gallery?  If you are using the gallery could you try the github code?

[2015-11-09 21:30] cflesher commented on #48
I downloaded from github about an hour ago...not using the gallery code

[2015-11-09 21:36] tysonjhayes commented on #48
I ran your code (it was missing an curly brace } but overall was fine) and wasn't able to reproduce this error on either WMF 4.0 or WMF 5.0 on Server 2012 R2 updated to the latest patches.

What version of WMF are you uisng? What operating system are you running this on?

[2015-11-09 21:42] cflesher commented on #48
I'll try updating WMF and let you know if I still get the error

[2015-11-09 21:43] cflesher commented on #48
PS C:\Windows\system32> $PSVersionTable

Name                           Value
----                           -----
PSVersion                      4.0
WSManStackVersion              3.0
SerializationVersion           1.1.0.1
CLRVersion                     4.0.30319.34014
BuildVersion                   6.3.9600.17090
PSCompatibleVersions           {1.0, 2.0, 3.0, 4.0}
PSRemotingProtocolVersion

[2015-11-09 22:11] PlagueHO commented on #48
I haven't had any luck replicating it either using WMF5.0 and W2K12 R2.

Are you able to start the DSC config with:
[code]

And post the log?

Thanks!

[2015-11-09 22:15] PlagueHO commented on #48
This is what I get when I do the same thing:
![2015-11-10_11-12-12](https://cloud.githubusercontent.com/assets/7589164/11048299/f65a485c-879b-11e5-92a2-0c91e8dd8111.png)
and:
![2015-11-10_11-14-40](https://cloud.githubusercontent.com/assets/7589164/11048348/45415a00-879c-11e5-8d99-0da6c7c0b3d0.png)

[2015-11-09 22:20] cflesher commented on #48
DEBUG: [SCORCHBETA]:                            [[WindowsFeature]Backup::[cfleshertest]localhost::[cfleshertest]localhost] Calling GetEnumerationRequestState provider method...
DEBUG: [SCORCHBETA]:                            [[WindowsFeature]Backup::[cfleshertest]localhost::[cfleshertest]localhost] Progress returned from GetEnumerationRequestState provider method: 47%
DEBUG: [SCORCHBETA]:

[2015-11-09 22:53] PlagueHO commented on #48
It seems the ```-debug``` parameter on ```Start-DSCConfiguration``` is causing some issues here and obfuscating the actual issue we're trying to investigate (which actually

Are you able to run this command instead please?
[code]
and post the output?

What is the Windows Server version that this is this DSC config being run on? The BuildVersion in the $PSVersionTable is not necessarily representat

[2015-11-10 06:24] PlagueHO commented on #44
I've done some digging on this one and actually think it requires a slightly different solution that I originally thought. This does still require a change, so I'll summarize the situation here so that it is (hopefully) clear why this resource behaves this way and hopefully clarifies things.

My original thinking was there is no possible way to set the **DisplayGroup** on an existing or new Firewa

[2015-11-10 07:18] PlagueHO commented on #45
One thing I ran into is that I didn't have script execution set to Unrestricted so the integration tests failed on my test box. This isn't the case on AppVeyor (which is why it passes just fine).

So we'll want to Set this to unrestricted before running the integration tests and then set it back to what it was at the end.

I'll include this in the PR for Issue #44.

[2015-11-10 09:21] iainbrighton commented on #39
Excellent =). I will try and test today..

[2015-11-10 09:32] PlagueHO commented on #47
I've taken a look at this and @cydhaselton is quite right. These two parameters (RemoteAddress and RemoteUser) are missing from the resource (although partially supported in the ```Get-FirewallRuleProperty``` function).

I'm not sure why these are missing, but most likely because the resource initially was designed to support the most common parameters. Either that or it only supported the origina

[2015-11-10 10:25] iainbrighton commented on #39
@tysonjhayes @PlagueHO  I can confirm that the latest dev branch fixes my problem. Thank guys!

[2015-11-10 10:25] #39 closed

[2015-11-10 12:58] cydhaselton commented on #47
Thanks for the speedy reply to this matter.
I can add the bolded parameters in a separate issue if it would help.

[2015-11-10 13:55] cflesher commented on #48
This is running on a 2012 R2 virtual machine

PS C:\Windows\system32> Start-DscConfiguration -Path F:\dscscripts\localhost -Wait -Force -Verbose
VERBOSE: Perform operation 'Invoke CimMethod' with following parameters, ''methodName' = SendConfigurationApply,'className'
 = MSFT_DSCLocalConfigurationManager,'namespaceName' = root/Microsoft/Windows/DesiredStateConfiguration'.
VERBOSE: An LCM method ca

[2015-11-10 15:41] cflesher commented on #48
This is working. We only apply security updates and not optional updates. An optional update was related to this and now it's working. Sorry for taking up your time.

[2015-11-10 20:54] PlagueHO commented on #39
Cool! :+1:

[2015-11-10 20:56] PlagueHO commented on #36
@amitsara, just in case you weren't monitoring #39, I thought I'd make sure you knew that the change you suggested (Validate property) has been added to the latest Dev branch. Please let us know if it doesn't resolve the issue for you.

Thanks!

[2015-11-10 20:58] PlagueHO commented on #47
I think it's all good. If @tysonjhayes is good with the changes I'll get them made and any properties I don't add I'll pop in a new Issue. I may find when I'm doing the change that adding additional ones don't really required much more effort. But thanks for the offer :+1:

[2015-11-10 21:01] PlagueHO commented on #48
Oh right! No problem :+1:

Do you possibly know the KBs of the Optional Updates that resolved the issue? Or was it "All of them"? :smile:  I only ask because it is always good to have this stuff documented for any future reference and if it is known we can also add it into the documentation as a gotcha.

Thanks!

[2015-11-10 21:03] cflesher commented on #48
KB3000850

It's a big one. Not sure what exactly in that update "fixed" the issue but it did.

[2015-11-10 21:25] PlagueHO commented on #48
Awesome! I'll put a mention in the documentation just in case anyone else runs into the problem. Thanks for your help tracking the issue down. :hammer:

[2015-11-11 00:31] tysonjhayes commented on #39
Fantastic. Thanks @iainbrighton

[2015-11-11 00:50] amitsara commented on #39
Thanks :+1:

[2015-11-11 00:54] amitsara commented on #36
Yah, I looked at it. Its working fine. Thanks :)

[2015-11-11 01:58] tysonjhayes commented on #47
Yup, my goal has always been to support every paramters we can. So let's get them all in. :+1:

[2015-11-11 02:08] tysonjhayes commented on #48
We've updated the documentation to note this KB as probably needed. Thanks for letting us know @cflesher

[2015-11-11 02:08] #48 closed

[2015-11-11 02:09] tysonjhayes commented on #3
So this has been removed (though I forget when we merged it) so this no longer occurs.

[2015-11-11 02:09] #3 closed

[2015-11-11 02:10] tysonjhayes commented on #7
This has been fixed up in latest builds. If you are still having the issue please reopen this issue.

[2015-11-11 02:10] #7 closed

[2015-11-11 02:16] PlagueHO commented on #47
Cool! I'll get on it, starting wit ht ones @cydhaselton has requested (plus additional bolded ones) and any remaining put into an Issue so we can track them.

[2015-11-12 04:18] PlagueHO commented on #45
Another idea for this is that the Header/Footer for the **Unit tests** should also go in with these templates.

I've noticed that the Unit Test and Integration Test header/footers are almost identical in function (the only difference is which module to load). So in my latest changes (for Issue #47 ) I've changed the Header and Footer of both Unit and Integration tests so they are identical except

[2015-11-12 20:01] KarolKaczmarek commented on #45
That's a great idea! Please send the PR into DscResource.Tests repo once you're ready.

I also agree template for Unit tests would be helpful as well to have a proper setup/cleanup in place.

[2015-11-12 21:39] PlagueHO opened #53 "Add Missing Parameters to MSFT_xFirewall Resource"
The following parameters are missing from the MSFT_xFirewall resource and need to be added (after PR #52 has been merged):
DynamicTarget
EdgeTraversalPolicy
IcmpType
LocalOnlyMapping
LooseSourceMapping
OverrideBlockRules
Owner

At this point I don't think they are critical (unless someone needs them right now of course).

[2015-11-12 22:27] tysonjhayes commented on #53
you wrote MSFT_xNetworking, did you mean xFirewall?

[2015-11-12 22:35] PlagueHO commented on #53
Yes. Yes I did. Corrected now. Sorry about that.

[2015-11-13 05:48] tysonjhayes commented on #44
I'm going to call this one good with some of the merges that have been happening.

[2015-11-13 05:48] #44 closed

[2015-11-13 07:01] PlagueHO commented on #44
:+1: No argument from me.

[2015-11-13 22:14] PlagueHO commented on #45
Cool! Once we've finalized the Unit/Integration tests headers/footers I'll look at moving them into TestHelpers.psm1 :+1:

In PR #52 I've managed to synchronize the Header/Footer code for both Unit and Integration tests, so we should only need a single Start-TestFramework/Stop-TestFramework that will work for either. Not really sure of the right verbs to use here though.

[2015-11-16 22:03] bk147 opened #54 "DNS Servers not set if original settings is empty..."
If the DNS on the target computer is empty (not set) the xDNSServerAddress 'Set' states that the configuration is already correct and therefore the DNS does not get set...
Problem seems to be in the check in the "Set-TargetResource" where the Compare-Object returns nothing if $currentAddress is empty - a fix could be to use the same logic as in the "Test-TargetResource"...

[2015-11-17 00:09] PlagueHO commented on #54
Hi @bk147 ,

Which version of the xDNSServerAddress resource are you using? Is this in the current Dev branch here or in one of the released versions? There have been some changes to this code over the last few weeks. And from a brief code review of the Master branch vs. the Dev branch it does look like this issue has been fixed.

Are you able to give the code in the Dev branch a try and see if it

[2015-11-17 12:30] bk147 commented on #54
It's working like a charm in the dev version :-)
[I was using the released 2.4.0.0 version]

Thanks,
-Brian

[2015-11-17 12:30] #54 closed

[2015-11-17 16:04] tysonjhayes commented on #54
Thanks for letting us know @bk147 we're hoping to get the new version released soon with these fixes!

[2015-11-17 16:13] tysonjhayes commented on #47
Howdy @cydhaselton, @PlagueHO has got some code in to address this. Could you check out the fixes and make sure they are working well for you?

[2015-11-17 18:48] cydhaselton commented on #47
Hello @tysonjhayes.  I'll let my teammate know to pull the fixed module and test.  I'll update this issue with results.

Thanks, @PlagueHO  for your work!

[2015-11-18 11:45] cydhaselton commented on #47
Hey @tysonjhayes and @PlagueHO.   This update is to let you know that that testing was successful.  Thanks again for all of your help...closing this issue.

[2015-11-18 11:45] #47 closed

[2015-11-19 00:38] #19 closed

[2015-11-25 02:19] PlagueHO opened #60 "Add Ability to Configure Routes"
This would require a change to the xDefaultGatewayAddress resource.

I think it would require two new parameters to be added:
1. Ensure = {Absent | Present} - Default to Present
2. Metric = 0-65536 - Default to 0.

This should enable existing configs to continue to work just fine, but allow multiple Default Gateways to be specified.

[2015-11-25 08:07] iainbrighton commented on #60
You can only have one default gateway on an interface (realistically one per machine too)!

It sounds like someone wants/needs a resource for adding and removing routes to the routing table?

We can get into a technical discussion, but we might want to remove any ambiguity around definitions first!

[2015-11-25 09:02] PlagueHO commented on #60
When I say Default Gateway I am of course referring to the default route. :smiling_imp: So yes, you're right, you can't practically have two active default gateways - even though you can set them and only one will be active. What I have is two routers connecting to a given network (an edge network) - if the one with the lowest metric fails then the next one becomes the active route.

Example:
![20

[2015-11-25 15:05] iainbrighton commented on #60
That's where I was going - a more generic "route" resource would also solve specifying multiple gateways. The only real difference will be being able to specify subnet masks (at least for IPv4).

I didn't realise that my Jedi mind-tricks were that good. Might just be great minds, eh?!

[2015-11-25 16:44] tysonjhayes commented on #60
Forgive my ignorance here, what other routes are we looking to deal with in this resource?

[2015-11-25 18:02] iainbrighton commented on #60
Just static routes in general!

Adding an additional default gateway just adds another route to 0.0.0.0/0. Why just restrict ourselves to ‘default routes’, why not add support for any custom static routes.

For example, the following adds a static route to the 192.168.10/24 network via interface '2' you would use:
[code]
It's the same thing - I just didn't want someone to create an "AdditionalDefa

[2015-11-25 19:10] tysonjhayes commented on #60
So would this be the *-NetRoute commands? If I'm understanding what is being discussed then yes I think it should be its own resource given the constrains that are being discussed.

Though I would say let's use the *-NetRoute commands for a few reasons.

1) It'll make it easier to test as they are actually powershell commands and Pester will have an easier time with it.
2) In general we try to use

[2015-11-26 00:28] PlagueHO commented on #60
Some fine Jedi mind tricks - I almost started looking for some other droids. :+1:

I'd say a generic Route resource for creating/editing/removing any static route using the *-netroute cmdlets is exactly what is needed (solves all problems). Agree with @tysonjhayes, ideally would want to use the *-netroute cmdlets because it does expose some functionality like expiring routes and route protocols th

[2015-11-26 08:16] iainbrighton commented on #60
The ROUTE ADD command was just an example and I've probably just given away I'm an old geezer :). Obviously, the *-NetRoute cmdlets are the best way to go!

[2015-11-26 10:12] PlagueHO commented on #60
Haha - you have indeed! At least no one has asked for IPX/SPX support in a resource yet :smiley:

[2015-12-04 23:26] PlagueHO commented on #32
Would anyone have an objection to me submitting a PR that removes the offending DHCP check code from the xIPAddress resource? I'm not sure I see the purpose for it anyway. I could optionally put a check around it and only fire it for IPv4. Either way it is causing pain with IPv6.

It is causing a few problems with IPv6 because it causes the IPv6 address to be reconfigured every time DSC is applied

[2015-12-05 01:16] iainbrighton commented on #32
Excuse my ignorance but, is there no DHCP (or equivalent) in IPv6?

[2015-12-05 02:08] PlagueHO commented on #32
There is, but it doesn't behave in the same fashion as DHCPv4. If DHCP is enabled on an IPv6 interface it can be in two modes - stateless autoconfig and stateful autoconfig. Stateful requires a DHCPv6 server to assign the IPv6 address, but stateless doesn't (it uses information from a detected router to configure it). You are usually assigned an automatic Link-Local IPv6 (stateless autoconfig) add

[2015-12-12 01:14] tysonjhayes commented on #45
Going to close this one as we have the templates in this resource, getting them broadly will be up to https://github.com/PowerShell/DscResource.Tests/issues/11

[2015-12-12 01:14] #45 closed

[2015-12-17 03:58] PlagueHO opened #63 "Update Unit and Integration tests to use test framework code in DSCResource.Tests"
The ```DSCResource.tests\TestHelper.psm1``` module has had two functions added for initializing and restoring a test environment prior and following running unit/integration tests.

These functions are:
* ```Initialize-TestEnvironment```
* ```Restore-TestEnvironment```

The existing unit and integration tests need to be updated to use these new functions.

The unit and test templates also need to

[2015-12-17 15:36] PrahlM93 opened #65 "Enabling Built In RDP Firewall Rule"
Hello,
I have the following configuration:
[code]

It seems to enable it appropriately but it fails the consistency check. I tried running the Test-TargetResource function and this is what I get:
[code]

Is my configuration incorrect?

[2015-12-17 15:41] PrahlM93 commented on #65
I figured it out, I had to use the following:
[code]

[2015-12-17 16:31] PrahlM93 commented on #65
I am able to get it to function if the Profile is ('Domain', 'Private'), but I also want to enable the Public firewall rule as well.

[2015-12-17 19:08] iainbrighton commented on #65
Hi @PrahlM93 . This is what I use:
[code]
I think the bit that you're missing is that you need to specify `Profile = 'Any'` instead of each profile (this is the default value).

[2015-12-17 23:00] tysonjhayes opened #66 "MSFT_xNetConnectionProfile fails when DomainAuthenticated"
Running the integration tests while on a domain authenticated machine I get the following error. We'll want to look at modifying the tests to cover this scenario.

[code]

[2015-12-17 23:16] PlagueHO commented on #66
Good catch. That's a head scratcher as how to implement integration tests in a domain joined scenario up on AppVeyor. Any thoughts?

[2015-12-17 23:19] tysonjhayes commented on #66
Not off the top of my head, my first thought might just be it's not a supported scenario as  AppVeyor obviously can't support it. Unless we get super crazy on some configuration stuff.  I'll have to think on it a bit.

[2015-12-17 23:23] PlagueHO commented on #66
I'm thinking Domain Joining an AppVeyor machine to an Azure AD domain is probably not going to work? I can see other DSC Resources requiring Domain Joined machines for integration tests as well - I don't think this problem will be isolated to just this resource.

[2015-12-17 23:33] PrahlM93 commented on #65
@iainbrighton, that did it. Thank you!

[2015-12-17 23:33] #65 closed

[2015-12-18 05:42] PlagueHO commented on #66
One possible way of doing this would be to execute an offline domain join on the AppVeyor machine using a predefined blob (that could be stored in the repo). In this situation you wouldn't actually need a read DC to be available. The ODJ blob would need to match the name of the AppVeyor machine though and would therefore not work for local tests. But you probably don't want local tests to force a

[2015-12-22 00:21] PlagueHO opened #68 "Add xDHCPClient Resource"
The purpose of this resource would be to set the DHCP parameter of a specific to Enabled or Disabled.

The expected MOF:
[code]

This change would address Issue #17.

At the same time this resource is released the check for DHCP Status in the xIPAddress should be removed completely as it should not be there. This is referenced by Issue #32.

I'm happy to make this change and submit a PR for this i

[2015-12-22 05:14] PlagueHO commented on #63
This has been completed.

[2015-12-22 05:14] #63 closed

[2015-12-22 15:39] tysonjhayes opened #72 "Add Integration Tests for Resources"
The following resources are missing integration tests. This leads to PRs like #71. We should add integration tests for these resources.

* MSFT_xDNSServerAddress
* MSFT_xDefaultGatewayAddress
* MSFT_xDnsConnectionSuffix
* MSFT_xIPAddress

[2015-12-22 20:11] PlagueHO commented on #72
Thinking out loud here:

I've been thinking about this one for a while now. The problem I keep running into with this is figuring out a "non-destructive" method of implementing these. E.g. we'd want to avoid stopping network connectivity when these tests execute.

What would happen if network connectivity stopped while AppVeyor tests run - I guess we could find out? Assuming AppVeyor was OK with a

[2015-12-22 21:27] tysonjhayes commented on #72
Oh for sure, I'm not sure how to "fix" it either without accidently doing some terrible things to an operators machine that may knock it off the network etc.  Just putting it out there that we need to test these resources.

[2015-12-22 22:01] PlagueHO commented on #72
Adding a loopback adapter seems the most promising approach. Is it worth me spending a bit more time trying to get a loopback adapter added via powershell?

I've seen some code floating around to do this, but it is quite "nasty" (downloads scripts/apps off the internet etc). So, I'd rather not use that code if I can avoid it - too many dependencies that we couldn't ensure will always be there. Pit

[2015-12-22 22:27] tysonjhayes commented on #72
Mulling it over with some of my coworkers we think it makes the most amount of sense to add a loopback device to try to work over. If you wanted to work on it let's try solving just that for now, and then move on to the rest. This is a pretty tough problem that I want to make sure we handle well.

[2015-12-22 22:39] PlagueHO commented on #68
This has been merged so I'll close it. Thanks @tysonjhayes

[2015-12-22 22:39] #68 closed

[2015-12-22 22:39] PlagueHO commented on #32
This has been resolved. Thanks @tysonjhayes

[2015-12-22 22:39] #32 closed

[2015-12-22 22:41] PlagueHO commented on #17
Hopefully this issue is now resolved so can be closed?

[2015-12-22 22:46] PlagueHO commented on #72
Ok, will do.

[2015-12-22 23:30] tysonjhayes commented on #17
Yup, thanks!

[2015-12-22 23:30] #17 closed

[2015-12-25 17:49] Identitry opened #75 "Built-in firewall rules isn't found"
Running this for enabling the built in RDP firewall rules...

        # Enable Firewall Rule 'Remote Desktop - Shadow (TCP-In)'
        xFirewall AllowFirewallRDPShadowTCPIn
        {
            Name = 'Remote Desktop - Shadow (TCP-In)'
            Ensure = 'Present'
            Enabled = 'True'
        }

        # Enable Firewall Rule 'Remote Desktop - User Mode (TCP-In)'
        xFirewall Allo

[2015-12-25 20:43] PlagueHO commented on #75
I'll take look at this and see if I can figure out what is going on here.

[2015-12-25 20:49] PlagueHO commented on #75
Oh wait- I've just figured out what is going on here.

You need to set the **name** parameter to be he **name** of the existing rules, rather than the **displayname**.

E.g.
[code]

This is because **name** is used as the unique key for the resource, not **displayname**.

Hope that helps! :smile:

[2015-12-25 20:50] PlagueHO commented on #75
Oh, and easiest way to get the name of the resource is:
[code]

[2015-12-25 21:34] Identitry commented on #75
Thanks, that explains a lot! :-)
Also, it turns out when enabling remote Desktop from Server manager new Domain,Private rules are created with a Guid as Name. The guids seems to be created on the fly (different between machines) so I guess I have to create duplicate rules in case they've been created already.

[2015-12-26 00:45] PlagueHO commented on #75
No problem!

Although that is an issue that you've uncovered there with the rules being created with a different GUID when assigned via server manager. I'm assuming this is intended behavior from Server Manager, but it does cause us a problem with using the resource in this way.

A possible solution would be to add a flag to the resource, called something like NameIsDisplayName which when set caus

[2015-12-29 22:46] PlagueHO commented on #53
Closing. Thanks @tysonjhayes

[2015-12-29 22:46] #53 closed

[2015-12-29 22:51] PlagueHO opened #76 "New Resource Suggestions"
Now that the majority of core networking DSC resources are pretty much complete, it might be useful to look at implementing some of the more advanced networking features for servers.

In my mind [QoS Policy](https://technet.microsoft.com/en-us/library/hh967469%28v=wps.630%29.aspx) is high up on this list and something I use regularly (especially to manage Live Migration and Cluster traffic). I'll

[2015-12-29 23:01] tysonjhayes commented on #76
Host File managment would be high on my list. Requested WAY back in #8 and we've never gotten back to it.

On my list was (in no real order)
* Host File Management
* [IPSec Commands](https://technet.microsoft.com/en-us/%5Clibrary/jj554906(v=wps.630).aspx)
*  [NetEventPacketCapture](https://technet.microsoft.com/en-us/library/dn268520(v=wps.630).aspx)
* [Network Load Balancing](https://technet.micr

[2015-12-29 23:35] PlagueHO commented on #76
I was thinking of implementing NLB a while back, but I thought it should actually be implemented in a separate DSC module (e.g. MSFT_xNLB) because it is would require several resources itself:
1. Resource for creating the cluster and specifying hosts.
2. Configure port rules
3. Control ports for specific hosts (e.g. host port prioritization etc).

But IPSec commands would be a definite important o

[2015-12-29 23:50] tysonjhayes commented on #76
I think breaking it out into seperate issues is probably best, I just globbed onto it as I've been meaning to write it down and wanted to discuss priorities on some of them anyway.

Looks like the Host File DSC resource was deleted. The PR #13 has what he wanted to merge not sure as to the state of the code though.

[2015-12-30 00:15] PlagueHO commented on #76
Def - totally agree - when we the new resources start to be implemented we could create new issues for the actual resource. But having a "wish list" might be a nice place to keep ideas for future stuff in a single place until someone wants to move them forward. Might keep the issues list from getting too cluttered with "nice to have'".

I think I looked at the Hosts resource and it was OK, but was

[2015-12-30 03:26] rchaganti commented on #76
I removed the HostsFile resource PR as it was consistently failing tests. We don't yet know what was the root-cause. All the similar or same tests were passing outside the AppVeyor. There is more work on the style guidelines too. I feel, it is a little tedious to contribute new resources to this repository. While I understand that the guidelines ensure quality, we need to have those script analyze

[2015-12-30 04:38] PlagueHO commented on #76
@rchaganti, good to hear from you :smile:

We have done quite a bit of work on standardizing the unit and integration test formats in recent months, specifically by creating unit and integration test templates (see the [Templates](https://github.com/PowerShell/xNetworking/tree/dev/Templates) folder for the templates). These templates help ensure that you can run these tests on your local machine a

[2015-12-30 17:24] tysonjhayes commented on #76
It should be noted it downloads and runs PSScriptAnalyzer if i you have WMF 5.0 installed, as backwards compatability for PSScriptAnalyzer isn't done yet.

@rchaganti you noted it was tedious to contribute here, could you elaborate more on what is tedious about contributing?

[2015-12-31 04:40] rchaganti commented on #76
@tysonjhayes the style guidelines are listed well but making those changes to existing code is certainly tedious. My coding style, like many others, is:
identifier {

}
however, style guidelines expects this as
identifier
{

}
This is a trivial thing to change but making sure I have everything as per styling guidelines is tedious. I was looking for some script analyzer rules so that I can fix ever

[2016-01-01 00:18] PlagueHO commented on #76
I was also of the:

[code]

style, but adjusting to using this style for new projects has been fairly easy (although I do still make the occasional mistake as @tysonjhayes will attest). I can see though that changing many existing projects to use this style would be more difficult and error prone.

But perhaps there is a way of detecting this issue and automating the resolution - just as we do wit

[2016-01-01 00:27] tysonjhayes commented on #76
I think it's worth bringing up more broadly, I believe the style is for DSC resources and we should be held to that standard.  The only issue I could foresee with putting it into DSCResource.Test is it'll fail builds until everything is fixed (which depending on the style adherence in current resources may be a while... :laughing: )  I lack exposure to PSScriptAnalyzer, does it account for this? I

[2016-01-01 01:00] PlagueHO commented on #76
I'm all for consistency when it comes to code - as long as it's all the same I'm not too fussed.

PSScriptAnalyzer does have an extensible rule model where we could add additional rules. Whether or not these rules will support what we want to test for I'm not. This brace rule could be flagged as a warnings as opposed to an error, but currently the DSCResource.Tests/Meta.tests.ps1 PSScriptAnalyzer

[2016-01-01 01:05] PlagueHO commented on #76
Also, I've got a PR waiting in the DSCResource.Tests module to fix the PSScriptAnalyzer tests as they're not quite doing what they should (the failed rules aren't actually displayed so you can't see what failed).

[2016-01-04 18:08] rchaganti commented on #76
Agree with you guys on the style and consistency. Within the style guidelines, can we mark the ones that we think are most desired vs good to have? I think that will clear some air. I am working on updating my code and will push a PR soon.

[2016-01-04 21:05] PlagueHO commented on #76
Awesome @rchaganti ! Thank you :+1:

I'll leave @tysonjhayes  to comment on the style guidelines "most wanted" :)

[2016-01-04 21:08] PlagueHO commented on #60
Closing because change merged.

[2016-01-04 21:08] #60 closed

[2016-01-04 21:12] PlagueHO commented on #76
One final resource I'd like to see implemented:
**NIC Teaming**

:)

[2016-01-04 21:25] tysonjhayes opened #77 "[New Resource] QoS Policies"
Add  [QoS Policy](https://technet.microsoft.com/en-us/library/hh967469%28v=wps.630%29.aspx) to the list of resources.

[2016-01-04 21:25] tysonjhayes opened #78 "[New Resource] NetEventPacketCapture"
Add [NetEventPacketCapture](https://technet.microsoft.com/en-us/library/dn268520(v=wps.630).aspx) to the list of resources.

[2016-01-04 21:26] tysonjhayes opened #79 "[New Resource] Network Load Balancing"
Add [Network Load Balancing](https://technet.microsoft.com/en-us/library/ee817138.aspx) to the list of resources.

[2016-01-04 21:27] tysonjhayes opened #80 "[New Resource] NIC Teaming (NetLBFO)"
Add [Nic Teaming (NetLBFO)](https://technet.microsoft.com/en-us/library/jj130849(v=wps.630).aspx) to the list of resources.

[2016-01-04 23:12] PlagueHO commented on #79
I'm still of the thinking that because this would require at least 3 resources it might make more sense in it's own resource module. Also NLB is more closely related to clustering and requires the NLB feature installed and all the cmdlets live in the NetworkLoadBalancingClusters module rather than the Net module like all the other xNetworking stuff. Just my 2c. Forgive me if I've misunderstood the

[2016-01-04 23:18] tysonjhayes commented on #79
Whoops you are right, I was just trying to open up some issues on them and wasn't paying that close attention.

[2016-01-04 23:18] #79 closed

[2016-01-04 23:31] PlagueHO commented on #79
:+1: Would still be great to get this module somewhere though :)

[2016-01-05 02:10] rchaganti commented on #80
Here it is: https://github.com/rchaganti/DSCResources/tree/master/cWindowsOS/DSCResources/cNetworkTeam

I just need to update it as per contribution guidelines here and add tests! :D

[2016-01-05 02:11] rchaganti commented on #76
@PlagueHO I got that resource here: https://github.com/rchaganti/DSCResources/tree/master/cWindowsOS/DSCResources/cNetworkTeam :)

[2016-01-05 03:19] PlagueHO commented on #76
Awesome! :+1: @tysonjhayes has split this Issue into separate issues, so that would be Issue #80 you'd be addressing with that.

I can't speak for @tysonjhayes, but I'm happy to help out in any way you need to get these resources integrated into this module. I invested in a license for PowerShell studio 2015 which can convert { to new lines } with one click.

[2016-01-05 04:56] rchaganti commented on #80
When I copy this new resource to my fork, what should I name it? Leave it as cNetworkTeam or name it MSFT_xNetworkTeam?

[2016-01-05 17:40] tysonjhayes commented on #80
If the intention is to submit a PR to us then it should be renamed MSFT_xNetworkTeam. Though you bring up a good question that I've proposed elsewhere that we should drop the x/c nomenclature. So it would just be MSFT_NetworkTeam instead.  What are your thoughts?

[2016-01-05 17:44] rchaganti commented on #80
Yes, I will submit a PR here. Given an option, I will remove x or c from it completely.

[2016-01-05 20:45] PlagueHO commented on #80
The x/c isn't really that useful TBH - I thought x was for experimental and c was for community - but it seems like useless information to me. But to remove it now from all resources would mean all configs using them would need to be updated - which might not be ideal.

All my resources use c, but as I'm transferring them across to MSFT I'm changing them to x.

As long as the naming is consistent

[2016-01-06 01:01] rchaganti commented on #80
I didn't mean that we change existing resources. We can just drop the x/c prefix for all new resources.

[2016-01-07 20:39] PlagueHO commented on #80
I just noticed that there has been some discussion already around dropping the x/c nomenclature in this issue:
https://github.com/PowerShell/DscResources/issues/27

It looks like the policy was to drop the x/c off the resources once ALL 'c' resources are integrated and all 'x' resources are adhering to the best practices policy.

I'm not certain of what the final plan is currently though as this d

[2016-01-08 17:07] rchaganti commented on #80
just a progress update on MSFT_NetworkTeam. I completed the style and code guideline updates to the resource module and added examples. I am adding unit / integration tests and should be able to push the PR early next week.

[2016-01-19 01:11] Zuldan opened #81 "Bug - MSFT_xDNSConnectionSuffix format return error"
If I run Get-DscConfiguration I receive the following error...

Get-DscConfiguration : The PowerShell DSC resource  returned results that are not valid from Get-TargetResource. The DnsSuffix key is not a valid property in the corresponding
DSC resource schema file. The results from Get-TargetResource must be in a Hashtable format. The keys in the Hashtable must be the same as the properties in the

[2016-01-19 05:56] PlagueHO commented on #81
Hi @Zuldan,

It looks like this issue has been resolved in the Dev branch of this repo in (this commit)[https://github.com/PowerShell/xNetworking/commit/49d82396c2c685204eaba02c13c93d2fb6c4d77e].

This version hasn't yet been released officially, but you could still use a copy of the Dev resource. Are you able to give the Dev version a try and let us know if your problem still occurs?

Thanks :+1:

[2016-01-19 23:23] Zuldan commented on #81
PlagueHO , thank you for pointing this out to me. I tried the Dev version and I have no more errors! Looking forward to it being pushed to master.

[2016-01-19 23:23] #81 closed

[2016-01-19 23:50] PlagueHO commented on #81
No worries! Thankyou :+1:

[2016-01-24 22:55] PlagueHO opened #84 "Remove Templates from templates folder"
The templates are now available in the (DSCResources repo)[https://github.com/PowerShell/DscResources/tree/master/Tests.Template] along with usage documentation etc.

I think the templates should be removed from this folder and replaced with a readme.md  that directs a user to the templates in the DSCResources repo.

Any thoughts?

[2016-01-28 04:47] PlagueHO opened #86 "Update Unit\Integration test header code to match change in templates in DSCResource"
A recent change was made to the [Tests.Template in the DSCResouce](https://github.com/PowerShell/DscResources/tree/master/Tests.Template) repository to allow unit and integration tests to be run from any folder under the tests folder.

Original Issue: https://github.com/PowerShell/DscResource.Tests/issues/24
PR to resolve: https://github.com/PowerShell/DscResources/pull/85

The templates and unit/

[2016-01-29 18:28] #86 closed

[2016-02-03 18:18] #80 closed

[2016-02-03 22:13] PlagueHO opened #90 "Define a method for creating a Loopback adapter for use in integration testing network resource"
I'm actively working on this issue now so I thought I'd set it as an issue so it can be tracked.

I'm attempting to create a cmdlet/function that will create a named Loopback adapter configured with TCP/IP.

I've made some progress with this, but at the moment it requires a file called **Devcon.exe** that is part of the WDK ([Windows Driver Kit](https://msdn.microsoft.com/en-us/windows/hardware/hh

[2016-02-03 23:16] tysonjhayes commented on #90
Wonder if we can get devcon into a nuget or chocolatey package to just get devcon.exe? That would solve the problem of the download of the exe.

[2016-02-03 23:46] PlagueHO commented on #90
@tysonjhayes - good idea! I took a quick scan of Chocolatey in case someone had already done it - but no dice. But I'm sure packaging this is technically easy enough though, the question comes down to whether the app is allowed to be distributed this way (licensing issue?) - I'd think so as it seems to come with lots of different drivers.

[2016-02-04 03:35] PlagueHO commented on #90
Actually, I don't see why we shouldn't build this into a choco package- the [source code for Devcon is up on GitHub](https://github.com/Microsoft/Windows-driver-samples/tree/master/setup/devcon) anyway.

I'll see if I can package it up.

[2016-02-04 11:25] PlagueHO commented on #90
I've created a [new repo](https://github.com/PlagueHO/devcon-choco-package) that contains a Chocolatey package definition for devcon.exe.

The repo has an AppVeyor.yml definition that clones the devcon.exe source code from the MS Repo on GitHub (linked previously), builds the DevCon.exe and then packages it into a Chocolatey package. The package then gets uploaded as an AppVeyor.yml artifact.

It

[2016-02-04 18:12] tysonjhayes commented on #90
Good find! That should make it easier if we can just pull it down from some where.

[2016-02-04 20:42] PlagueHO commented on #90
Cheers! I'm going to also convert the Loopback adapter creation and removal code into a PS Module and upload that into PowerShell Gallery. Are these new repos I'm creating worth transferring over to you? It might be best to keep any Integration test dependencies under the same authority as the xNetworking repo I was thinking.

Anyway, Chocolatey has accepted the Devcon.portable package:
https://ch

[2016-02-04 20:49] PlagueHO commented on #84
@tysonjhayes - Any thoughts on whether we can remove the templates from this repo now? At the moment they're out of sync with the master templates and I'm wondering if I should apply the latest changes I made to the master templates to these ones.

[2016-02-05 08:02] juriskrumins opened #92 "Small typo in ModuleVersion = '2.6.0.0'"
We have tag 2.7.0.0, but when you download code with this tag, you end up with record in xNetworking.psd1 : ModuleVersion = '2.6.0.0'. As a result, when you put code to the directory XNetworkking\2.7.0.0\... you can't load it.

[2016-02-05 15:52] rchaganti commented on #8
https://github.com/PowerShell/xNetworking/pull/93 closes this.

[2016-02-05 19:29] TravisEz13 opened #94 "Need a resource to set a NIC alias so you can reliably use xDnsServerAddress"
xDnsServerAddress uses the NIC alias as the key.  You shouldn't have to query ahead of time the nic alias or guess

[2016-02-05 20:01] PlagueHO commented on #94
I think we could add support to use a wildcard NIC alias - e.g. '*' or 'ethernet*' . The NIC alias would still remain the key.

[2016-02-05 20:13] PlagueHO commented on #90
Quick update:

I had to rebuild my Chocolatey package because I needed both 32-bit and 64-bit versions of DevCon.exe in it. So I've resubmitted it - waiting for package approval now.

In the meantime I wrote a PS module for managing [Loopback Adapters](https://github.com/PlagueHO/LoopbackAdapter). I've uploaded this to PowerShell Gallery, but haven't released it yet because it requires the Chocola

[2016-02-05 21:10] PlagueHO commented on #94
I think there was a PR floating around to add support for wildcard aliases? I recall there was one but there was some trouble with it so the PR got closed. @tysonjhayes, do you remember if this was the case? I can't find the Issue or PR though. Perhaps the change could be resuscitated?

[2016-02-05 23:17] iainbrighton commented on #94
Yep - there was one floating around that got closed recently. It might have been in another repo though.

I'll check the ones I'm tracking..

[2016-02-06 05:30] tysonjhayes commented on #94
Yes it was #57, was recently closed because the author didn't have time to get it fixed up to be merged.

[2016-02-06 05:35] tysonjhayes commented on #84
Yeah I think it makes sense to remove them, in an ideal world we'd link to them so when someone clones the repro they get the templates, but that's never worked exceptionally well. Let's just delete them.

[2016-02-06 22:04] TravisEz13 commented on #94
@PlagueHO @tysonjhayes @iainbrighton You may need to query to find the NIC on multiple values (especially on physical machines, Such as the physical media type, the status, etc.  Additionally, predicting the name might be difficult if the hardware is not standardized.).  A separate resource that sets the name would be more salable (the actual interface alias could be used on every resource instead

[2016-02-07 10:13] PlagueHO commented on #94
@TravisEz13, I really like your idea about the xNetworkAdapterName resource instead of needing to change xDNSServerAddress.

I'd also suggest that the xNetworkAdapterName resource should support setting the adapter name based on MAC as well. The reason for this is that I automate VM creation where I know/can set the MAC of each adapter in a VM on creation and automatically assemble the DSC configu

[2016-02-07 21:34] PlagueHO commented on #84
Cool. Thanks @tysonjhayes. Ill get this done.

[2016-02-08 06:12] PlagueHO commented on #92
Are you downloading the code directly from the master branch or the dev branch? Or are you using Install-Module to get this from the PowerShell Gallery?

I've tried using:
[code]

and it seems to install the xNetworking module to the correct 2.7.0.0 folder as expected.

Or am I misunderstanding the issue?

[2016-02-08 07:28] juriskrumins commented on #92
I've used tag.
Tag -> 2.7.0.0 and then Download zip.

On 8/2/2016 8:12, Daniel Scott-Raynsford wrote:

[2016-02-08 08:25] PlagueHO commented on #92
Oh, I see. The issue here is that the Tag 2.7.0.0 is linked to the wrong commit/branch (the 2.6.0.0 release commit). @tysonjhayes - are you able to resolve this?

In the mean time, can you download the Master branch instead? The master branch is currently at 2.7.0.0.

[2016-02-08 10:31] juriskrumins commented on #92
Excellent. Thanks.

On 8/2/2016 10:25, Daniel Scott-Raynsford wrote:

[2016-02-09 06:35] tysonjhayes commented on #92
Not something I can fix - @KarolKaczmarek could you lend a hand?

[2016-02-09 06:35] #84 closed

[2016-02-10 11:20] DdenBraver opened #96 "xDNSServerAddress set-target resource compare is the wrong way around"
In the following example, the set-target resource will not make any changes if the DNS Value of the server is not filled in.

This can be resolved by comparing the other way around:

[code]

[code]

[2016-02-10 11:26] #96 closed

[2016-02-11 12:37] DdenBraver opened #97 "xDNSServerAddress does not always set the DNS address when its empty"
When using the xDNSServerAddress resource on a computer that has no DNS addresses filled in, it does not always set them properly.

Test-Target resource shows it is in an incorrect state, however Set-Target resource thinks it is correct.
This is due to line 96 of MSFT_xDNSServerAddress.psm1:

[code]

Tested on Server 2016 TP4 (RTM) and Server 2012R2 with WMF5 Production Preview.

[2016-02-11 19:28] PlagueHO commented on #97
So, in your config you're setting the DNS Servers to a value (which values), but currently the DNS entries on the node are empty?
e.g.
[code]

returns nothing currently, and your config is trying to set the values?

Just wanting to get my facts straight before I investigate too much :smile:

The odd thing is the test for state difference in Test-TargetResource and Set-TargetResource are identical

[2016-02-11 20:27] DdenBraver commented on #97
@PlagueHO, that is correct.

I did just notice I was using an older version of the resource.
I will get the latest available and will re-run my tests, as there is a minor difference in the Set-TargetResource.

[2016-02-11 20:55] DdenBraver commented on #97
I will close this issue, since it works fine with the latest version.
I thought i was using the latest one however it seems I copied an older from my own file-share. (v 2.4.0.0)

[2016-02-11 20:55] #97 closed

[2016-02-11 21:24] PlagueHO commented on #97
Oh right! No worries - I do recall we fixed something like this a few versions back - so that would explain it. Thanks!

[2016-02-12 03:58] TravisEz13 commented on #44
Note this was a breaking change

[2016-02-12 05:53] tysonjhayes commented on #44
I'm curious why you're noting this now?

[2016-02-12 18:33] TravisEz13 commented on #44
I'm bringing configuration forward to use the latest resources and trying to figure out why the broke.  I don't see any notes in the review that this was a breaking change.

[2016-02-12 18:34] tysonjhayes commented on #44
Makes sense, I'll try to make sure we're calling that out in the release notes if we ever need to make another breaking change. :+1:

[2016-02-12 21:29] PlagueHO commented on #44
Fair enough. It definitely could have been a bit clearer in the release notes :+1:

[2016-02-16 03:54] rchaganti commented on #8
This can be closed. HostsFile resource is now a part of xNetwork dev branch. https://github.com/PowerShell/xNetworking/commit/83a60f2ef467ca607295e05c146460be14960114

[2016-02-16 21:18] tysonjhayes commented on #8
Closing issue per @rchaganti 's notes.

[2016-02-16 21:18] #8 closed

[2016-02-16 21:18] tysonjhayes commented on #30
I'm going to close this issue as there hasn't been any discussion on this since October. You are welcome to reopen this if you want to continue discussing it.

[2016-02-16 21:18] #30 closed

[2016-02-17 22:22] KarolKaczmarek commented on #92
Should be fixed now

[2016-02-17 22:22] #92 closed

[2016-02-21 19:36] PlagueHO commented on #90
Update: Finally got my Chocolatey package accepted - they had to verify the DevCon.exe bits were actually the ones in the WDK.

So have released the [Loopback Adapter](https://www.powershellgallery.com/packages/LoopbackAdapter/1.0.0.16) module now, which is required by these tests.

[2016-02-23 03:21] jgoldschrafe opened #100 "Documentation describes invalid values for xFirewall"
The README.md specifies for xFirewall:

    Action: Permit or Block the supplied configuration.

However, `Permit` is not an allowed value for Action. The allowed values are `NotConfigured`, `Allow`, or `Block`.

[2016-02-23 08:11] PlagueHO commented on #100
Good catch!

I have submitted PR #101 to correct the docs (as well as the Action description in the Schema).

Thanks :+1:

[2016-02-25 18:23] #100 closed

[2016-03-05 00:48] kbick675 commented on #76
A resource for Add-NetLbfoTeamNic would be really nice to have implemented.

[2016-03-05 00:50] rchaganti commented on #76
It's already there in the xnetworking module.

Sent from Outlook Mobile<https://aka.ms/blhgte>

On Fri, Mar 4, 2016 at 4:48 PM -0800, "kbick675" <notifications@github.com<mailto:notifications@github.com>> wrote:

A resource for Add-NetLbfoTeamNic would be really nice to have implemented.

-
Reply to this email directly or view it on GitHub<https://github.com/PowerShell/xNetworking/issues/76#issuec

[2016-03-05 01:03] kbick675 commented on #76
@rchaganti There is a resource for the team, not the Nics you would create and are associated with the team. The resource that exists is equivalent to New-NetLbfoTeam.

[2016-03-05 01:07] rchaganti commented on #76
Aah! Gotcha! Wait for it... :-)

Sent from Outlook Mobile<https://aka.ms/blhgte>

On Fri, Mar 4, 2016 at 5:03 PM -0800, "kbick675" <notifications@github.com<mailto:notifications@github.com>> wrote:

@rchaganti<https://github.com/rchaganti> There is a resource for the team, not the Nics you would create and are associated with the team. The resource that exists is equivalent to New-NetLbfoTeam.

-

[2016-03-08 06:58] PlagueHO commented on #90
Nearly forgot about this one. Will try and get some work done on it later this week.

[2016-03-08 16:37] megamorf opened #102 "AmbiguousParameterSetError with xFirewall resource"
Hey guys,

Even though my dsc configuration seems to ba applied I receive some errors related to the xFirewall resource when I run Start-DscConfiguration.

My configuration contains this section...

[code]

... that reads a few firewall rules from my data file. Here's an example

[code]

Output from  Start-DscConfiguration:

VERBOSE: [SRVADM012]: LCM:  [ StartenTesten   ]  [[xFirewall]Domino-POP3]

[2016-03-08 17:14] megamorf commented on #102
What struck me as odd was this line:

[2016-03-08 20:28] PlagueHO commented on #102
@megamorf - I see what you mean. I'll take a look and see if I can figure out why the comparison is failing.

[2016-03-08 21:37] PlagueHO commented on #102
@megamorf - good catch on this one. I think I've fixed the issue and submitted a PR to dev. If you want to, you can try out the fix in my xNetworking fork here:
https://github.com/PlagueHO/xNetworking/tree/Issue-102-Firewall-Profile-Comparison-Issue

[2016-03-08 22:31] megamorf commented on #102
Thanks for the quick fix Daniel. I'm going to give your fork a shot tomorrow when I'm back at the office.

PS: Thanks for liking some of my blog posts, hehe

[2016-03-09 06:18] #102 closed

[2016-03-09 07:57] PlagueHO commented on #102
No problemo @megamorf - and I enjoy your blog!

Thanks for the merge @tysonjhayes :+1:

[2016-03-09 08:49] megamorf commented on #102
I can confirm this has solved my issue. Thanks again!

[2016-03-15 13:19] josch710 opened #104 "MSFT_xIPAddress: IP Address Test wrong result"
Hi,

It seems the Test-Resource of MSFT_xIPAddress delivers a wrong result, if the desired IP address (as string) is a part of the current one.

Example:
Current IP: 192.168.178.15
Desired IP: 192.168.178.1

The if-clause "if (-not $currentIPs.IPAddress.Contains($IPAddress))" delivers false - so DSC thinks the current IP address is equal to the desired one...

[2016-03-16 01:56] PlagueHO commented on #104
Hi @josch710,

That's a good catch! I'll get a PR through for this ASAP (and update the unit tests so it doesn't come back :smile: ). :+1:

[2016-03-16 02:16] PlagueHO commented on #104
I have submitted a fix for this in PR #105.

[2016-03-17 09:04] josch710 commented on #104
Hi @PlagueHO

Thank you very much for the fast reply...

Is it also possible for me to contribute here with the scripts? Because I would say I am quiet familiar with DSC now and would be great to contribute to the scripts here in the git hub "community"...

[2016-03-17 09:22] PlagueHO commented on #104
@josch710

Glad to help :smile: Hopefully @tysonjhayes will merge this to dev over the next few days (thanks @tysonjhayes).

And you most definitely can help out. Any help with new or existing DSC resources are most welcome :+1: There is a lot of opportunities for enhancing or creating new resources or just bug fixes on existing ones.

The best place to start is [here](https://github.com/PowerShel

[2016-03-17 14:34] jackqq commented on #48
I think I've found where the problem is, but not sure if the solution is correct.

When trying to use this resource to add an open port for MongoDB, I encountered the same error. The configuration is 2012 R2 in a VM, only installed Package Management Preview 10.0.10514.0 and the following updates: KB2883200, KB2884846, and KB2894179. They seem to be necessities to get WMF 4.0 going with the PowerS

[2016-03-17 17:32] tysonjhayes commented on #104
@josch710 the DSC group is very open to contributions so please feel free to join in! As @PlagueHO already pointed out his blog posts and the contributions are a good place to start. I started by adding tests to existing projects and worked my way into features, now I run a few of them. We all have to start some where!

[2016-03-17 17:33] #104 closed

[2016-03-17 21:38] PlagueHO commented on #104
Thanks @tysonjhayes :+1:

[2016-03-17 22:12] PlagueHO commented on #48
Ah I see - so what you're saying is that Set-TargetResource is being called with parameters Verbose and Debug set to true, which then gets splatted to the New-NetFirewallRule cmdlet.

Question: Do you know what causing the Verbose and Debug parameters to be passed? I've never run into this before. How is your LCM configured?

We could of course just add the:
[code]

to the beginning of the Set-Tar

[2016-03-17 23:30] jackqq commented on #48
I've been using the push model. This is the output of Get-DscLocalConfigurationManager on the target machine:

[code]

The configuration script and DSC cmdlets are executed this way:

[code]

where 'developing' is a psd1 filename got passed to the -ConfigurationData parameter in the Config-*.ps1 scripts.

Config-Targets.ps1 copies all the Modules in %ProgramFiles%\WindowsPowerShell from the master

[2016-03-18 07:29] josch710 commented on #104
Thanks @tysonjhayes @PlagueHO

[2016-04-04 20:22] #72 closed

[2016-04-04 20:22] #90 closed

[2016-04-16 21:32] TravisEz13 commented on #94
@PlagueHO I'm hitting design issues on the resource.  My current thought is to write the helpers to perform the work and expose them in the xNetworking module.  Then the helpers can be used in a script resource for now until the design work is done.

[2016-04-17 01:14] PlagueHO commented on #94
@TravisEz13 - this sounds like a good approach to me.

I'm presuming that the helper would allow any resource to query the available network adapters based on particular requirements (Is it up, Adapter Number, Device driver etc) and then return the appropriate adapter. This would then allow these criteria to be exposed by parameters in each resource - meaning that an adapter could be chosen withou

[2016-04-17 18:34] TravisEz13 commented on #94
@PlagueHO
I would have a get, set, test method, with query parameters and a name parameter.  They would behave like a resource and allow you to build easily a script resource.  I plan only to support 2 query parameters to begin with, physical media type (optional, no default) and status (optional, but defaulted to be 'Up'),   Other query parameter can be added after the, basic concepts have been w

[2016-04-17 20:26] TravisEz13 commented on #94
@PlagueHO FYI, my changes are here [NetAdapter.](https://github.com/TravisEz13/xNetworking/tree/NetAdapter)   I've integrated the changes into some test work I'm doing.

[2016-04-17 20:44] PlagueHO commented on #94
@TravisEz13  - ah I see. So these three function of the "NetAdapter helper module" could then be consumed by the other Resources to allow them to identify the specific adapter to work on. So each resource would need to be updated to take the same parameters as the "NetAdapter helper module" - is that correct?

Seems like a pretty good approach to me. It also looks like the xNetAdaperName resource

[2016-04-18 08:29] iainbrighton commented on #94
@TravisEz13 The xNetAdapterName resource is badly needed, particularly on hypervisors other than Hyper-V. So; chop, chop :stuck_out_tongue_winking_eye:

[2016-04-18 21:29] TravisEz13 commented on #94
@iainbrighton @PlagueHO I've tested my functions.  I'm ready to PR, but the names aren't approved.  My current idea is that I add a warning that the names of the function and parameters are being designed and may change.  Then I can get some feedback about the functions, while there are open questions

[2016-04-18 23:58] TravisEz13 commented on #94
@iainbrighton @PlagueHO FYI, I've submitted my PR

[2016-04-26 22:01] PlagueHO opened #111 "[New Resource] DNSGlobalSuffixSearchList"
This would mainly be used to set the "Primary DNS Suffix of this computer":
![2016-04-27_10-00-09](https://cloud.githubusercontent.com/assets/7589164/14835633/e1a62488-0c5e-11e6-88fb-73474fc20395.png)

The cmdlets ```get-dnsclientglobalsetting``` and ```set-dnsclientglobalsetting``` could be used to set this value.

The resource would be quite similar to the xNetBIOS resource I would think.

[2016-04-27 23:21] randomchance commented on #76
I would also like to have a `New-NetLbfoTeam` resource, and it would be nice to have resources for `New-NetTransportFilter` as well.

On the subject of NLB resources - Server 2016 has VXLAN support in the VirtualSwitch, which, if enabled, does not allow mangling MAC address, which in turn rules out NLB. I think the new SDN Software LoadBalancer  will be the replacement for it but I'm not really su

[2016-04-28 05:38] DamianBis opened #112 "xFirewall doesn't fix issue of Configuration Drift"
xFirewall still reports as compliant even if someone adds extra rules to the windows firewall outside of the DSC configuration.. Haven't found anywhere with a solution to this. Realistically all firewall rules on my server should be either 1. Default windows rules or 2. added through DSC

[2016-04-28 06:35] PlagueHO commented on #112
I see. So basically the need would be to delete or report on any firewall rules that are not listed or set to "Ensure" in the DSC configuration applied to the node.

That is actually quite a difficult issue you raise, but I completely understand the need for this.

I can't think of a solution to this off the top of my head, but there are many smarter folk around these parts than I - @tysonjhayes,

[2016-04-28 06:46] PlagueHO commented on #76
I must look into this VXLAN stuff you speak of though. But I think the VXLAN support would only rule out NLB if using it in mulitcast mode. If it was a unicast mode (most are I'd think) NLB then it would still work I think because the MAC doesn't need to be spoofed in that case.

I have been meaning to implement a new DSC Module for NLB, but I think it'll be unlikely I'll get time to do it before

[2016-04-28 14:25] rchaganti commented on #76
@randomchance NetLBFOTeam resource is already there. I will push the VMNetAdapter, VMNetadapterVlan, and VMNetAdapterSettings soon after I finish some more testing.

[2016-04-28 18:58] PlagueHO commented on #76
@rchaganti - That is awesome! :+1:

[2016-04-28 22:07] gmatusko opened #113 "xDhcpClient doesn't set DNS servers back to DHCP"
It would be great if xDhcpClient checked if DNS settings for an adapter were set to "Obtain DNS server address automatically".  Right now it only checks for IP settings and I'd like to switch DNS settings back to DCHP as well.  Let me know if this is a reasonable request.

Greg

[2016-04-28 23:47] PlagueHO opened #114 "[New Resource] DNSClientNRPTRule"
Need a resource to add/remove/edit DNS Client NRPT rules, including configuring entries for DA and IPSec.

[2016-04-29 00:08] PlagueHO commented on #113
Hi @gmatusko

A great point (and needed feature). It would actually need to be implemented in the xDNSServerAddress resource because to reset the DNS Client back to using DHCP settings you actually issue:
[code]
If we added this in DHCP client then there would be a risk of a config that was conterminously reapplied.

At first I thought this would be relatively easy, but it isn't quite so straight

[2016-05-01 00:04] TravisEz13 commented on #112
The current resource wasn't designed with this scenario in mind (as windows come with many default rules.)  It is an xFirewallRule resource and therefore cannot enforce anything outside the rule described.

The only good way I see is to write a true xFirewall resource which takes an array firewall rules, and use the group semantic (Rules, RulesToInclude, RulesToExclude.)

[2016-05-02 01:41] PlagueHO commented on #112
I've been considering this problem further and I can't figure out a way of determining which rules are "default" and which are user added. This is further compounded by the fact that adding or removing Windows Features will also add/remove default rules.

The solution @TravisEz13 proposes would work, but would result in quite large configurations, with the configuration of each Firewall rule prope

[2016-05-02 04:43] DamianBis commented on #112
In practice there's no reason we can't put every single rule (including windows defaults) in our DSC config. and then have any other rules on the server that aren't declared in DSC be considered non compliant...

Obviously my main concern is that we troubleshoot something. change a firewall rule or add a firewall rule/exception and then we rebuild a box 2 months later and have that issue occur aga

[2016-05-02 23:56] tysonjhayes commented on #114
Are there existing powershell commands for this? If so what are they? Just trying to give a leg up to anyone who wants to come in as a first stab.

[2016-05-03 00:00] tysonjhayes commented on #112
While I personally like to declare as much as I can into DSC you may run into a few problems as the size grows.

1) It'll take longer to actually deploy all of the changes. Currently I have a few app boxes that take about five minutes to complete. Given I have it set to check DSC every 15 minutes means I'm applying DSC configurations a lot (something I need to fix come to think of it).
2) There is

[2016-05-03 04:20] PlagueHO commented on #114
@tysonjhayes  - good point!

The cmdlets to use to manipulate this stuff are:
[code]
Here is an example of a rule I have on one of my machines that forces DNS Searches for .plagueho.local to go to the DNS Server 192.168.1.10.

![2016-05-03_16-12-29](https://cloud.githubusercontent.com/assets/7589164/14974523/f92aee78-1149-11e6-90c2-8c9995daa571.png)

Outside of PowerShell, NRPT rules are usually m

[2016-05-12 19:35] TravisEz13 commented on #94
I'll close this for now.  Someone can open an new issue if an actual resource is needed.

[2016-05-12 19:35] #94 closed

[2016-05-12 22:48] PlagueHO commented on #94
I might implement an xInterfaceName module using this at some point - I could definitely use that myself. I'll log an "New resource" issue in case someone else wants to have a go. Thanks @TravisEz13

[2016-05-12 22:55] PlagueHO opened #115 "[New Resource] AdapterName"
Implement a resource that is able to rename a network adapter based on specific query criteria. This resource should make use of the https://github.com/PowerShell/xNetworking/blob/dev/xNetworkAdapter.psm1 module to perform the Network Adapter query.

If additional adapter query parameters are required by this then the xNetworkAdapter.psm1 module should be extended to support the requirements.

See

[2016-05-12 23:00] PlagueHO commented on #76
@rchaganti - Am I correct in thinking you're adding these to the Hyper-V resource? Definitely the best place for them!

@tysonjhayes , @randomchance , @kbick675: Is it OK if I close this issue? Any future resource requests could be added as separate issues so they're easier to track.

@tysonjhayes or @TravisEz13: Could you possibly mark the existing [New Resource] issues as "Needs Help" and "Enhan

[2016-05-12 23:45] rchaganti commented on #76
yes! xVMNetworkAdapter is already pushed to xHyper-V and waiting to be merged. xVMNetworkAdapterVLAN and xVMNetworkAdapterSettings will also land there.

[2016-05-12 23:48] #76 closed

[2016-05-12 23:48] tysonjhayes commented on #76
Marked everything accordingly. Went ahead and closed the issue too. thanks everyone!

[2016-05-18 05:20] PlagueHO opened #116 "[New Resource] xNetAdapterBinding"
Add a new resource for enabling/disabling Net Adapter binding on specific Adapters. This would be mainly used for disabling the "Client for Microsoft Networks" or other similar bindings.

It would use the:
```Get-NetAdapterBinding``` and ```Set-NetAdapterBinding``` cmdlets.

[2016-05-19 01:55] BrianFarnhill opened #119 "xHostFile doesn't update existing entries correctly"
**Observed behavior**
Create a xHostFile resource that sets a specific value and it applies correctly, but then if I update the resource to change the IP address I see it create a new entry for the same domain name, meaning it is in the host file twice with both the old and new IP addresses, and as the old one is most likely to appear first the change does not apply.

**Expected behavior**
The pre

[2016-05-19 07:00] PlagueHO commented on #119
Hi @BrianFarnhill - I guess it comes down to how easy it would be to fix the existing xHosts and what @rchaganti thinks. Your code is nice and trim but would need some localization etc. added to it.

If the fix to the existing code is small and easy then I'd say use the existing code, but if requires more effort then perhaps it would be simpler to merge with your new code.

Of course though we'd w

[2016-05-19 07:15] rchaganti commented on #119
Thanks for reporting the issue @BrianFarnhill. Agree with @PlagueHO thoughts on this. Since the existing module has localization support and adheres to all style guidelines and so on, I too prefer that we fix the code here. I have not looked at your code and will do so over the weekend. That said, if you want to clone this repo and implement the fix yourself, that is more than welcome! :)

[2016-05-19 08:33] PlagueHO commented on #112
I still can't think of an easy way to solve this problem. It is a real head scratcher.

@DamianBis - are you familiar with [Chef](https://www.chef.io/)? I wonder if they have tackled this sort of problem. It might be worth rummaging around the Chef community and see if anyone over there has done anything like this (I'd doubt it but worth a shot). Chef does use DSC resources under the hood to perfo

[2016-05-20 09:00] PlagueHO commented on #113
I'll revisit this one this weekend and see if I can't figure out a solution.

[2016-05-21 03:30] PlagueHO commented on #116
This resource will also need ```Enable-NetAdapterBinding``` and ```Disable-NetAdapterBinding``` as well.

I have started work on this one.

[2016-05-24 01:31] BrianFarnhill commented on #119
@PlagueHO @rchaganti I thought I had all the style guidelines in that one covered - I'll check. I don't have the localisation support but that would only take me a few minutes to bake in really. I'll have a look at it and get a PR open if you guys are happy with that then?

[2016-05-27 11:14] serbrech commented on #75
should this issue be closed?

[2016-05-27 21:32] PlagueHO commented on #75
Actually yes, I think so. @Identitry - is this something you can close?

[2016-05-28 04:27] PlagueHO commented on #119
@BrianFarnhill basically I'm happy as long we end up with a resource that fixes the issue and meets the guidelines and doesn't require a breaking change to get there. I'd like to think that the Unit/Integration tests in place will identify and potential problems changing to the new module, so can we possibly keep the integration and unit tests as is if they have 100% coverage?

@rchaganti  - your

[2016-06-05 00:49] PlagueHO commented on #119
@BrianFarnhill  - in the absence of any objections from @rchaganti, we should put your one in place. @tysonjhayes - are you OK with this? I'm happy to review the code if you like?

[2016-06-05 00:50] PlagueHO commented on #75
@tysonjhayes - I think we should go ahead and close this one.

[2016-06-05 02:08] rchaganti commented on #119
Hey guys,
Sorry. Been a little busy and did not notice these emails. Brian, please go ahead and push a PR.

Get Outlook for Android<https://aka.ms/ghei36>

On Sat, Jun 4, 2016 at 5:49 PM -0700, "Daniel Scott-Raynsford" <notifications@github.com<mailto:notifications@github.com>> wrote:

@BrianFarnhill<https://github.com/BrianFarnhill> - in the absence of any objections from @rchaganti<https://githu

[2016-06-06 20:12] #75 closed

[2016-06-07 01:56] BrianFarnhill commented on #119
I haven't had a chance to port mine across to this repo and add the localisation yet (Q4 is in full swing for me, so free time is a hard thing to find in between customer engagements!). I'll push it in as soon as I can though, but that might be a couple of weeks from now at this point.

[2016-06-09 20:57] #116 closed

[2016-06-10 17:06] mhendric opened #121 "xFirewall Can't Detect Rules Created via the GUI (Windows 2012/WMF4)"
I'm running Windows 2012 (non R2) with WMF4. We have manually created some firewall rules using the GUI, and are now trying to detect and monitor these rules using DSC. When created with the GUI, the resources get a Name that is a GUID, and a DisplayName of whatever you intended the name to be. All the -NetFirewallRule checks in the xFirewall resource use -Name, so it is unable to detect the rule

[2016-06-11 02:37] PlagueHO opened #122 "Rename a Network Adapter from on an Advanced Property"
This will enable us to use the "Hyper-V Network Adapter Name" set in an underlying Host OS (running Hyper-V) to set the Network Adapter name in the Guest OS. This uses the new DeviceNaming feature in Windows 10 and Windows Server 2016.

We would use this:
Get-NetAdapterAdvancedProperty –DisplayName “Hyper-V Network Adapter Name”

Which would pull the Adapter Name set in the Host OS for this adapte

[2016-06-11 02:42] PlagueHO commented on #121
I think this issue is the same as this recently closed (but not resolved) issue: https://github.com/PowerShell/xNetworking/issues/75

I did post a possible way we could work around this (in #75), but we never actually implemented it.

@tysonjhayes - any thoughts on this?

[2016-06-11 05:38] janegilring opened #123 "MSFT_xIPAddress - expected behaviour?"
Scenario: A DSC configuration is defined to configure the same IP address as the target node already have configured via DHCP.
Expected output: The network configuration should be changed from DHCP enabled to DHCP disabled.
Actual output: No changes, DHCP still enabled.

Is this by design or a bug?

[2016-06-11 05:50] PlagueHO commented on #123
Actually, this is a bug I think.

xIPAddress only checks to see if the IP Address matches - if it does it doesn't bother to perform a test of the DHCP status. It probably should - nice edge case catch!

I'll add it to my Todo list for this week :+1:

[2016-06-11 06:28] janegilring commented on #123
Awesome, thanks for the quick response!

[2016-06-19 03:26] PlagueHO commented on #123
This is in progress now.

[2016-06-19 05:22] PlagueHO commented on #123
@janegilring - I've been reviewing this and some of the history on this particular resource. I now believe this is actually an intended behavior.

What should actually be done here is that the xDHCPClient resource should be first used to set the DHCP status to disabled and the xIPAddress should be set.

This is really a fault in the examples and documentation (as I had to review the actual resourc

[2016-06-19 06:09] janegilring commented on #123
Thanks, that did the trick. I didn`t know about the xDHCPClient resource, but it does makes sense that it exists and must be used in conjunction with xIPAddress after reading your explanation.

[2016-06-19 06:38] PlagueHO commented on #123
No worries! It was a relatively new addition to the suite. I do think the documentation actually isn't that clear on the usage pattern, so I've submitted a PR that will update the documentation with better examples for this :smile: Thanks for letting us know the fix worked too!

[2016-06-19 07:03] #123 closed

[2016-06-22 05:39] BrianFarnhill commented on #119
Just opened the PR on this one guys (as #125) - please go ahead and review when ready

[2016-07-03 08:00] PlagueHO commented on #114
I'll start working on this one as I'm going to be needing it at work soon. @tysonjhayes - if you get a mo could you label this issue as in progress? Cheers sir!

[2016-07-06 04:10] adamcousins commented on #111
Also looking for such a feature
currently using Set-DnsClientGlobalSetting as a work around but would like a dsc block for this.
My use case is AWS Ec2 instance removing default suffix lists and applying my domain and forest lists.
Unfortunetly im not familiar enough with PS to assist building, but with the user base of AWS im sure someone is.

[2016-07-06 09:30] PlagueHO commented on #111
@adamcousins - I'll try and get onto this over the next week for you. I'm working on another resource for xNetworking, so I'll try and throw this one at the same time. Will keep you up to date :smile:

[2016-07-19 20:29] jrudley opened #130 "xFirewall does not handle Any keyword for RemoteAddress"

[2016-07-19 21:27] jrudley commented on #130
This is in the dev branch

[2016-07-21 06:55] PlagueHO commented on #130
It should handle it - what is the error you're seeing when using it? Are you able to post the DSC output?

[2016-07-21 14:15] jrudley commented on #130
use the sample Sample_xFirewall_AddFirewallRule.ps1
Add RemoteAddress = 'Any'

Looking at the psm1 file, there is no code to handle 'Any' for RemoteAddress.

[2016-07-21 14:16] jrudley commented on #130
[fwRemoteAddress.txt](https://github.com/PowerShell/xNetworking/files/376224/fwRemoteAddress.txt)

[2016-07-21 19:56] PlagueHO commented on #130
Thanks @jrudley. The thinking was that there wasn't any special code to handle these special values like 'any' because they are handled by the underlying cmdlets. That being said, I'll take a look at this this weekend.

[2016-07-22 20:28] #119 closed

[2016-07-25 23:10] gbrayut commented on #115
Anyone working on this right now? I'm trying to migrate from our [StackExchange_NetworkAdapter](https://github.com/PowerShellOrg/StackExchangeResources/tree/master/DSCResources/StackExchange_NetworkAdapter) resource over to the xNetworking resource, but need to be able to update adapter names based on their description (example: `Intel(R) Gigabit 4P I350-t rNDC #2`).

Looks like the xNetworkAdapte

[2016-07-26 00:02] PlagueHO commented on #115
Awesome! I'm not working on this. That's good with me - @TravisEz13, @tysonjhayes ? Any help is most welcome :+1:

[2016-07-26 00:03] TravisEz13 commented on #115
Can you propose a schema?

[2016-07-26 01:49] gbrayut commented on #115
[StackExchange_NetworkAdapter.schema.mof](https://github.com/PowerShellOrg/StackExchangeResources/blob/master/DSCResources/StackExchange_NetworkAdapter/StackExchange_NetworkAdapter.schema.mof) is the schema for our current DSC resource, where Name is the the desired name and Description is the unique Device Name of the network adapter (same as the Name property of Win32_NetworkAdapter WMI class).

[2016-07-27 20:24] #111 closed

[2016-07-28 08:56] PlagueHO commented on #130
Hi @jrudley - I'm working on this at the moment. I have managed to replicate the problem.

[2016-07-28 09:55] PlagueHO commented on #130
The problem is actually caused by the Group parameter in the example. This is a limitation with the underlying Set-NetFirewallRule cmdlets. Once a Firewall rule has been created, the Group/DisplayGroup can't be changed by the Set-NetFirewallRule cmdlet. This is because the cmdlet uses those values as the index values that identify the rule to change.

** For now, if you remove the Group parameter

[2016-08-01 01:35] PlagueHO opened #131 "Fix Integration Test Filenames"
The following resources have incorrectly named Integration test filenames:
- xDefaultGatewayAddress
- xDHCPClient
- xNetAdapterBinding

They are:
MSFT_*.tests.ps1

They should be:
MSFT_*.Integration.tests.ps1

I'll submit a PR to fix this.

[2016-08-02 21:00] narrieta opened #132 "Unit tests should not wrap entire tests within InModuleScope"
Only sections that need to access to the module's private data/functions should use InModuleScope

[2016-08-02 21:01] KarolKaczmarek opened #133 "Unit Tests should not use InModuleScope"
Unit tests use old test template (which contained InModuleScope section). It has been removed from new templates so we should update the tests here as well.
See: https://github.com/PowerShell/DscResources/issues/166

[2016-08-02 21:03] KarolKaczmarek commented on #132
Ups, just created duplicate. It doesn't only refer to MSFT_xFirewall.Tests.ps1 but other unit tests as well, updating the title.

xNetworking unit tests use old test template (which contained InModuleScope section). It has been removed from new templates so we should update the tests here as well.
 See: PowerShell/DscResources#166

[2016-08-02 21:03] KarolKaczmarek commented on #133
Closing, duplicate of https://github.com/PowerShell/xNetworking/issues/132

[2016-08-02 21:03] #133 closed

[2016-08-02 21:04] kwirkykat commented on #132
@PlagueHO

[2016-08-03 03:45] PlagueHO commented on #132
Thank you @narrieta - I'll get a PR through for this over the next few days (by the end of weekend at the latest).

[2016-08-03 18:59] fanlongmeng opened #134 "application bug in powershell DSCResource XNetworking - XRoute"
When I am using the module to remove a specific route, The script delete all routes from the list what ever route assigned.

It all works fine when delete below scripts from the function Test-TargetResource in  MSFT_xRoute.psm1

            # The Route exists - remove it
            $null = $PSBoundParameters.Remove('InterfaceAlias')
            $null = $PSBoundParameters.Remove('AddressFamily')

[2016-08-03 19:35] PlagueHO commented on #134
Hi @fanlongmeng - you are quite right! Good catch - that looks like a definite bug. I'll get a PR submitted for this ASAP so that it can hopefully go out with the next release.

[2016-08-03 20:13] PlagueHO opened #135 "Convert xNetworking to HQRM"
This is a backlog issue to be looked at when HQRM program is ready.

https://github.com/PowerShell/DscResources/blob/master/HighQualityModuleGuidelines.md

I'm going to address this issue by creating individual issues - one for each resource and submitting separate PR's for each one. This will make the process much easier on the reviewers.

I will also be addressing #176 at the same time.

Here is

[2016-08-03 20:15] PlagueHO opened #136 "Convert xNetworking Documentation to use SharePointDsc model"
See https://github.com/PowerShell/DscResources/issues/167

[2016-08-07 16:42] TravisEz13 commented on #115
I don't see how this schema you can reliably rename a Network Adapter.  How do you identify the adapter to rename?

[2016-08-07 16:59] gbrayut commented on #115
Device Name is a unique identifier for the network card. Duplicate devices get a "#2" or "#3" appended to the end of the device name.

[2016-08-07 19:42] PlagueHO commented on #115
@gbrayut - so if the name param was being used to identify the adapter to rename,  what would we use to specify the new name of the adapter?

It would be possible to add a newname parameter to the resource. But that would expose another problem: once renamed the adapter would no longer be found.

What might work though would be to extend the xnetworkadapter to expose additional adapter properties

[2016-08-07 20:57] gbrayut commented on #115
So I think there may be some confusion here. Just to make sure we are all on the same page let me clarify. I also attached a screenshot from a system with multiple NICs from the same vendor.

![image](https://cloud.githubusercontent.com/assets/304401/17465110/d1993e7a-5cab-11e6-9ec9-5f950e3de4ea.png)

DeviceName as used in the above schema refers to the unique system assigned description of the NI

[2016-08-07 21:53] gbrayut commented on #115
So for example the description of the new DSC resource would be something like:

**xNetAdapterName**

- **InterfaceAlias**: Mandatory. Specifies the new alias name to assign to the selected network interface.
- **InterfaceDescription**: Optional, with no default. Specifies which network device should be renamed. Example "Intel(R) Gigabit 4P X540/I350 rNDC #2" or "vmxnet3 Ethernet Adapter".
- **Mac

[2016-08-08 05:57] PlagueHO commented on #115
@gbrayut - doh! I apologize,  I misread your original MOF proposal. I put the blame on it being a Monday morning before coffee.

Anyway,  your proposal makes a lot more sense now. I'd say go with it. We can always add additional adapter identifier parameters later should the requirement arise. But the basic ones you've specified would work for most cases.

Is it worth adding the adapter enable/dis

[2016-08-08 06:09] gbrayut commented on #115
No worries. As for the enable/disable I can go either way. We don't currently name our disabled adapters (see screenshot above) so having to use two resources (one to set the name and one to disable) seems excessive. But I also see the benefit of a dedicated resource for setting adapter settings. Our current resource actually uses Ensure=Absent to indicate the specified network device should be di

[2016-08-09 17:37] #134 closed

[2016-08-10 09:10] paveldokov opened #138 "Get-DscConfiguration failing when multiple IPs are present on interface"
Hello guys,

I am really happy with the module, but I found a little issue with it - on NLB interface I have 2 IPs - nlb_IP and vip_IP. When it comes to checking the nlb_IP, it fails.

Hope this helps!

Regards,

[get_dscConfig_error.txt](https://github.com/PowerShell/xNetworking/files/410650/get_dscConfig_error.txt)

[2016-08-11 11:24] PlagueHO commented on #138
Hi @paveldokov  - thanks for the feedback! :smile:

Are you able to post the output from ```Start-DSCConfiguration``` with the -Verbose parameter added? It should give us more feedback on what is going wrong.

[2016-08-11 19:40] paveldokov commented on #138
Hello,
Actually, the configuration applies and test correctly. Issue occurs only when I run 'Get-DscConfiguration'
Please, find the log from 'Start-DSCConfiguration -Verbose' attached.

Regards,
Pavel

[{E4489580-5FF9-11E6-80CF-02BF0A0F015E}-0.details.json.txt](https://github.com/PowerShell/xNetworking/files/414071/E4489580-5FF9-11E6-80CF-02BF0A0F015E.-0.details.json.txt)

[2016-08-13 03:50] PlagueHO commented on #131
I'll fix this as part of #132. Working on them now.

[2016-08-13 09:28] PlagueHO commented on #132
I'd like some guidance on this if you all don't mind? Please see this issue I've raised:
https://github.com/PowerShell/DscResources/issues/175

I'm feeling uneasy that this is actually the best way to go.

[2016-08-14 19:29] TravisEz13 commented on #115
@gbrayut, my problem is the proposed schema does not solve the problem as described in this issue,

but instead, it lets you enable or disable the network adapter.   Enabling and disabling an adapter is valid functionality, but should be based on the alias, as the OS treats that as the key for the adapter.  The device name is difficult to predict ahead of time (binding order affects this which can

[2016-08-17 09:34] PlagueHO commented on #115
@TravisEz13  - I think this might work. Example:
[code]
The above in theory would rename the adapter with the MacAddress '9C-D2-1E-61-B5-DA' and description 'Hyper-V Virtual Ethernet Adapter #1'.

However, I'd actually argue that the parameter name 'InterfaceAlias' should actually be 'Name'.

It might help to actually list out the proposed MOF here - that would have made it clearer because it woul

[2016-08-18 23:21] TravisEz13 commented on #115
@PlagueHO For the behavior you describe I think the following scheme would work:
[code]
You would have to add code in the resource to say at least one of the description or MAC must be supplied.

[2016-08-20 03:58] PlagueHO commented on #115
@TravisEz13  - yep - that looks pretty good to me. I reckon we'd want to leverage the xNetworkAdapter "helper" module that you wrote a while back. That module could be extended to take the InterfaceDescrption and MacAddress parameters. It already takes the name (so that it can be set).

Seems like it might be a fairly straight forward process (famous last words).

[2016-08-22 17:50] TravisEz13 commented on #115
@PlagueHO , I think I agree.  The schema will still need to be reviewed by two other reviewers. @kwirkykat

[2016-08-29 10:18] RamonPalmieri opened #140 "xFirewall throws error when correcting Profile changes"
Hi,

On windows2k12/WMF5.0 I found an issue.
When I create a firewall rule with DSC and later on change the profile settings xFirewall throws an error:

Parameter set cannot be resolved using the specified named parameters.
    + CategoryInfo          : InvalidArgument: (:) [], CimException
    + FullyQualifiedErrorId : AmbiguousParameterSet,Set-NetFirewallRule
    + PSComputerName        : localh

[2016-08-29 10:54] PlagueHO commented on #140
Hi @RamonPalmieri - thanks for reporting this. I actually think this is actually the same cause as this issue: https://github.com/PowerShell/xNetworking/issues/130

We haven't come up with a perfect solution to this problem yet. However, if you remove the ```Group``` parameter from your xFirewall configuration they should work fine.

[2016-08-29 10:55] PlagueHO commented on #130
We still need to come up with a solution to this. But, as PS is now open sourced, it might actually be possible to resolve the problem by changing the actual Set-NetFirewallRule cmdlet - which is actually causing the problem.

[2016-08-29 11:19] RamonPalmieri commented on #140
I removed the Group parameter and it works fine!
Thanks.

[2016-08-29 16:57] #140 closed

[2016-09-01 06:13] wellsluo commented on #130
I hit the same bug in version  2.11.0.0 (xNetworking). And I reviewed the code MSFT_xFirewall.psm1, it already handled how to change group name by removing and recreating the firewall rule.  However, it doesn't handle of the issue when calling Set-NetFirewallRule cmdlet.

**Cause:**
The cause was the parameters when calling Set-NetFirewallRule.  As PlagueHO mentioned, this cmdlet uses "Group" and

[2016-09-16 06:21] PlagueHO commented on #132
I think we should put this one on hold for now until the changes to Pester are made - as per the community call today.

I've spent a bit of time trying out the suggested alterations (made in https://github.com/PowerShell/DscResources/issues/175) to the test methods to allow ```InModuleScope``` to be removed. But they have either resulted in some really ugly code (which is very hard to understand)

[2016-09-16 07:03] PlagueHO opened #141 "Update Unit and Integration tests to v1.1.0 Headers"
All Global scope variables in the tests should be converted to Script scope variables as well. The Invoke-Expression in all integration tests should be converted to & instead.

[2016-09-19 22:39] kwirkykat commented on #132
This issue is on hold per discussion in PowerShell/DscResources#175

[2016-09-22 00:01] #131 closed

[2016-09-22 00:01] #141 closed

[2016-09-25 18:14] barcexwiki opened #145 "SubnetMask vs. PrefixLength"
I suggest to use a 'PrefixLength' parameter instead of 'SubnetMask'. A subnet mask is a 4-octect value (like 255.255.255.0) while the prefix length is an integer (from 0 to 32 for IPv4 and from 0 to 128 for IPv6).
The current naming is confusing because the SubnetMask parameter expects a prefix length and not a subnet mask.
Getting rid of subnet masks in favor of prefix lengths is also good as sub

[2016-09-25 18:42] PlagueHO commented on #145
@barcexwiki - I fully agree with you. But because this would be a breaking change it should be discussed further.

One suggestion I have is that if the xnetworking resource is going to be moved over to HQRM, this change could be done as part of that - HQRM will result in a breaking change anyway.

@travisez13, @kwirkykat?

[2016-09-26 20:06] TravisEz13 commented on #145
I think we should do the change.  I don't see the point of delaying it.

[2016-09-26 20:54] PlagueHO commented on #145
@TravisEz13 - cool. Fair enough. I'm happy to make the change for inclusion into the next release if you like?

[2016-10-02 06:35] PlagueHO opened #148 "Improve Information provided about Resource parameters in xNetworking Readme.md"
The Readme.md doesn't contain enough information about each resource parameter. This results in often having to check the resource MOF files when building configurations.

This can be easily improved by adopting a standard format for presenting the resource parameters.

Convert Resource parameters in xNetworking Readme.md to the following format:
- **[Type] ParameterName** _(Read/Write/Required/Ke

[2016-10-03 04:42] PlagueHO commented on #145
Working on this now. Should submit the PR later today.

[2016-10-06 05:24] marcinbojko opened #150 "Problems (xFirewall) with array of strings in LocalPort or RemotePort"
**1. Problem**
When Using xFirewall, setting protocol as TCP or UDP we can pass as arguments:
      * single ports (works) ('3389')
      * range (works) ('3389-3390')
We cannot pass list of ports in a array of strings format ('3389,3390').
**1. Example**
[code]

**1. Error**

[code]
**1. Example use of xFirewall, shows it is possible to pass aray of strings:**

https://github.com/PowerShell/xNetw

[2016-10-06 07:26] PlagueHO commented on #150
Hi @marcinbojko

I think the LocalPort needs to be set like this when it is an array:
[code]

Could you give that a try? If it is still a problem I'll do some further digging.

Thank you!

[2016-10-06 07:41] marcinbojko commented on #150
@PlagueHO Thanks for the info.
I have little problems with formatting this in YAML, but I will try.

[2016-10-06 08:18] marcinbojko commented on #150
@PlagueHO
Ok, tested with:

[code]
But error stays.

[2016-10-06 08:37] marcinbojko opened #151 "Setting rules according to issue #150 creates notify event on every pass"
**We have first pass:
TEST**

[code]

**TEST ends with**

[code]

Clearly, insedesiredstate is false.
So we have SET

[code]

**ends with**

[code]

Notify is displayed properly - first run.
But on nex run we have the same situation: Test shows indesiredstate: false, SET ends with proper 'indesiredstate:true'
Value in FirewallSettings in inserted properly.

End again we have:

`Notice: /Stage[main

[2016-10-06 18:36] PlagueHO commented on #150
Thanks @marcinbojko - I appreciate you giving this a try. I'll take a look over the weekend and see what is going on. Thanks for reporting this and all the information you provided!

[2016-10-06 18:42] marcinbojko commented on #150
@PlagueHO - I think case is closed, I edited a comment ;) Again - thank you very much for helping me out.

[2016-10-06 19:52] PlagueHO commented on #150
Hi @marcinbojko - Oh right! I didn't notice! Great stuff and thanks for updating. Good to hear it's all working.
Thank you!

[2016-10-06 23:25] PlagueHO opened #152 "Add CommonResourceHelper.psm1 module and update to use it"
The xPSDesiredStateConfiguration includes a [CommonResourceHelper.psm1](https://github.com/PowerShell/xPSDesiredStateConfiguration/blob/dev/DSCResources/CommonResourceHelper.psm1) that includes several common functions.

xNetworking has quite a lot of replicated code that is contained in the CommonResourceHelper.psm1 file. So there would be some benefit to changing xNetworking to use these pattern

[2016-10-17 23:16] #150 closed

[2016-10-18 20:11] kwirkykat commented on #148
@PlagueHO We used this format for PSDscResources after you started it for the Service resource. I like it 👍

[2016-10-18 22:23] HansOMartinsen opened #153 "xNetAdapterBinding: Add the abillity to use * as input to InterfaceAlias in xNetAdapterBinding"
The ability to add support for * as input to InterfaceAlias in xNetAdapterBinding should be done for the following reasons:
- The underlying cmdlets used accepts it, and therefore it is easy to implement.
- Knowing the name of the Interface might not be possible, as different vendors might implement the naming differently.
- Sometimes it is desirable to target all cards.

To achieve this simply ch

[2016-10-18 22:34] PlagueHO commented on #148
@kwirkykat - oh right, cool! I'll raise a PR this weekend for it :grin: Thanks

[2016-10-20 23:50] richard-browne opened #156 "xFirewall is not compatible with Windows 7 or 2008"
The term 'Get-NetFirewallRule' is not recognized as the name of a cmdlet, function, script file, or operable program.

:-(

[2016-10-21 05:25] PlagueHO commented on #156
Hi @richard-browne - you are quite correct.

This was raised a while back in [this issue](https://github.com/PowerShell/xNetworking/issues/30).

We looked into it then and decided it would be too difficult and unreliable to retrofit the resources to work with these older OS's. Besides that, these OS's (at least Windows Server 2008) have all passed the [mainstream support end date](https://support.

[2016-10-24 22:13] kwirkykat commented on #156
@richard-browne What WMF/PS version are you running?

[2016-10-25 01:26] richard-browne commented on #156
@kwirkykat I'm using WMF 5.0 on Windows 7.

PSVersion 5.0.10586.117.

[2016-10-25 05:46] PlagueHO commented on #156
@kwirkykat - The problem is with the OS rather than the version of WMF5.0. The Net* cmdlets weren't added to the OS till Windows Server 2012/Windows 8 (I could be wrong about the specific version, but they definitely weren't in WS2008).

So running on any older OS's would require us creating our own Net* cmdlet functionality in the DSC resource either using WMI/CIM or calls to NETSH - even if WMF4

[2016-10-25 06:07] kilasuit commented on #156
As @PlagueHO mention they were added in as part of Win8 & Server 2012 due to the changes in the OS that allowed/instigated these to be developed much easier than for the prior OS's (Win7 & Server 2008R2)

Personally Win7 & Server 2008R2 support with any of the DSC Resources should be categorised on a "best endeavours" basis but then again for the Systems that would be deployed on those OS's (Share

[2016-10-25 20:36] kwirkykat commented on #156
@PlagueHO
You are correct that these cmdlets weren't available until Windows 8/Server 2012. DSC itself wasn't even available until Windows 8.1/Server 2012 R2. On top of that even, this is an unsupported DSC Resource Kit module.
So this definitely doesn't require a change to the resource in question. I'm just curious if there's any way he could work around it on an earlier OS.

This 'minimum versio

[2016-10-25 22:04] richard-browne commented on #156
It's understandable that xNetworking is focused on Win8/2012. The problem for many of us is that the majority of Windows servers are still running Server 2003/2008/2008R2. That makes xNetworking not so useful today.

Anyhoo for others that arrive here with this issue I found the LegacyNetworking module. It has a vFirewall resource that works on Win7/2008R2:

 https://github.com/VirtualEngine/Legac

[2016-10-25 22:04] #156 closed

[2016-10-25 22:30] #153 closed

[2016-10-25 22:51] iainbrighton commented on #156
@richard-browne Thie is why I put https://github.com/virtualengine/legacynetworking together.

It doesn't have anywhere near complete coverage as it only does what we need it to. However, it does have a matching schema where possible and might get you out of a hole?

[2016-10-26 15:44] iainbrighton commented on #156
This is why I put https://github.com/VirtualEngine/LegacyNetworking<https://github.com/VirtualEngine/LegacyNetworking/blob/master/README.md>/ together. It's not complete coverage, but it does try to match the xNetworking schema where possible.

It only does what we need it to do as I didn't want to put too much effort in. However, it might be a good start point and get you out of a hole?

[2016-10-27 01:22] zjalexander opened #158 "[New Resource] Proxy Server management"
This has come up in a few places on the internet, but we don't have a complete solution on the gallery today. (http://stackoverflow.com/questions/29600767/setting-the-machine-proxy-via-dsc , https://p0w3rsh3ll.wordpress.com/2015/01/29/dsc-configuring-a-proxy/, https://p0w3rsh3ll.wordpress.com/2015/02/16/follow-up-configuring-a-proxy-with-dsc/)
This has come up as a request for Nano Server as well.

[2016-10-27 04:13] PlagueHO commented on #158
@zjalexander - great idea! If no one else gets to it first I'll add it to my backlog.

[2016-10-27 20:21] #145 closed

[2016-10-28 07:39] PlagueHO commented on #158
Doing a bit of spade work on this. It looks like the only way to configure the proxy in PS is via the registry. The settings are usually stored at this location:
Get-ItemProperty -Path 'HKCU:\Software\Microsoft\Windows\CurrentVersion\Internet Settings'

As far as settings go, is there anything outside of the standard Proxy settings shown in "Proxy Settings" (see below) that people would want to co

[2016-10-28 14:08] johlju commented on #158
On Windows Server 2012 (and above) sometimes it is needed to use the cmdline tool `netsh winhttp import proxy source=ie` (of course after above comment is already set in IE). This is needed to for example to get Windows Update to work thru the proxy. Does not help to just set the proxy in IE.

Also using PowerShell code that needs to get thru an 'authenticating proxy' it might be necessary to run

[2016-10-28 19:45] PlagueHO commented on #158
Good thinking @johlju - I'll keep that in mind.

I wrote a blog post exactly about this a while back:
https://dscottraynsford.wordpress.com/2016/06/24/allow-powershell-to-traverse-a-secure-proxy/
as we have an "enthusiastic" proxy at our office too :grin: .

The problem though is that the WebClient stuff only exists for the session it is created under - which for DSC will cease to exist once it is

[2016-10-28 20:08] johlju commented on #158
Yes, thought about that too. Lets start with the methods we can make persistent as you suggest.

This resource could be a requisite to another resource, that resource could get the proxy information we set in registry to use in its own session to traverse the proxy (usin webclient). If you follow me. :)

[2016-10-28 20:13] PlagueHO commented on #158
@johlju - yep! Makes perfect sense!

I'm working on some other xNetworking stuff today, but I'll try and propose a MOF later on - if you could review the MOF that would be awesome!

[2016-10-28 20:22] johlju commented on #158
Happy to review the MOF when you have put something together! :)

[2016-10-29 00:58] zjalexander commented on #158
Hm, none of that is present on Nano Server, either. In fact, I don't even think IE is present on Nano Server.... I need to do some internal investigation.

[2016-10-31 14:08] mgreenegit opened #160 "xWaitForDNSResponse resource available but needs community assistance"
A new resource is available that would compliment xNetworking but needs assistance from the community. Review, tests, and docs.
[https://github.com/robwi/xDnsClient](https://github.com/robwi/xDnsClient)

HELP WANTED

[2016-11-01 06:42] PlagueHO commented on #151
Hi @marcinbojko ,

Can you try changing the profile to be:
[code]
The important part is that this is an array of two items (Domain and Private), not a string containing 'Domain,Private'.

Does that help?

[2016-11-01 07:07] PlagueHO commented on #138
Hi @paveldokov - I'm haven't been able to solve this one yet. I've assigned two IP Addresses to the same adapter and Get-TargetResource still returns the exepected values.

So I have a few more questions to help me solve this if you don't mind:
- Which version of xNetworking are you using?
- Could you post the Config you're applying (feel free to remove any sensitive info)?
- Could you post the ou

[2016-11-04 10:59] paveldokov commented on #138
Hello,

Sorry for the delayed response. Here is my NIC extract from config file:

         foreach ($NIC in $Node.NICs) # Configure NICs
         {
            foreach ($IP in $NIC.IPs) # Configure IP Address (multiple address option available)
            {
                xIPAddress $IP.Name
                {
                    InterfaceAlias = $NIC.Alias
                    IPAddress = $IP.IP

[2016-11-04 10:59] paveldokov commented on #138
Hello,

Sorry for the delayed response. Here is my NIC extract from config file:

         foreach ($NIC in $Node.NICs) # Configure NICs
         {
            foreach ($IP in $NIC.IPs) # Configure IP Address (multiple address option available)
            {
                xIPAddress $IP.Name
                {
                    InterfaceAlias = $NIC.Alias
                    IPAddress = $IP.IP

[2016-11-04 11:00] paveldokov commented on #138
Hello,

Sorry for the delayed response. Here is my NIC extract from config file:

         foreach ($NIC in $Node.NICs) # Configure NICs
         {
            foreach ($IP in $NIC.IPs) # Configure IP Address (multiple address option available)
            {
                xIPAddress $IP.Name
                {
                    InterfaceAlias = $NIC.Alias
                    IPAddress = $IP.IP

[2016-11-04 11:00] paveldokov commented on #138
Hello,

Sorry for the delayed response. Here is my NIC extract from config file:

         foreach ($NIC in $Node.NICs) # Configure NICs
         {
            foreach ($IP in $NIC.IPs) # Configure IP Address (multiple address option available)
            {
                xIPAddress $IP.Name
                {
                    InterfaceAlias = $NIC.Alias
                    IPAddress = $IP.IP

[2016-11-09 21:41] marcinbojko commented on #151
Yes,  I'll check it ASAP.

[2016-11-13 15:28] marcinbojko commented on #151
@PlagueHO , so with puppetlabs-dsc in version 1.2.0
so:

TEST:
[code]

TEST End with:
[code]

SET
[code]
ends with
[code]
and, with complete notify:
[code]

Ergo: no, nada, negative. niet - that's not it :(

[2016-11-14 06:43] PlagueHO commented on #151
@marcinbojko - I'm not an expert on the use of DSC in Puppet.

Is there a way to get Puppet to output the Verbose log of the DSC Resource? If so, are you able to post the output of the Test-TargetResource? It should tell us which particular parameter of the firewall rule is failing the tests and I can then investigate from there.

Thanks for your help resolving this one!

[2016-11-14 11:18] rchaganti commented on #77
Got a couple of resources here.

1. MSFT_xNetworkAdapterQos - Enables/Disables QoS on a network adapter.
2. MSFT_xNetQosTrafficClass - Manage traffic classes creation and deletion, algorithm / priority management and so on.

but, the question I have is, should these be in xNetworking or go into a module of their own like NetworkQoSDsc?

[2016-11-14 14:52] marcinbojko commented on #151
Yes, I'll do what I can ;)

[2016-11-15 05:57] PlagueHO commented on #77
Hi @rchaganti - good question.

Can you forsee the need for any other Network QoS resources? If there is likely to be a whole load of them it might be better to keep them in a new Resource Module. But if these two are all there are likely to be if might be better to include them in xNetworking (one day to be NetworkingDsc I hope).

Ultimately it should be down to discoverability - e.g. where would

[2016-11-15 11:18] rchaganti commented on #77
What I am looking at is a larger collection that spans across three different modules.

`Get-Command -Module NetQoS

Get-NetQosPolicy
New-NetQosPolicy
Remove-NetQosPolicy
Set-NetQosPolicy

Get-Command -Module NetAdapter -Noun *QoS*

Disable-NetAdapterQos
Enable-NetAdapterQos
Get-NetAdapterQos
Set-NetAdapterQos

Get-Command -Module dcBqos

Disable-NetQosFlowControl
Enable-NetQosFlowControl
Get-NetQ

[2016-11-16 06:16] PlagueHO commented on #77
@rchaganti - in that case, maybe a separate QoS resource module might be the way to go. But would be good to get some thoughts from the MSFT team.

[2016-11-19 18:44] reicher001 opened #164 "DNS server address not being set"
I am not getting any errors when I apply my config but the DNS settings are not being applied to the network interface.  I am also disabling IPv6 which works as expected.

Here is my config in the resulting MOF file.

When I apply it I do not see any obvious error.

What else can I do to troubleshoot this?

[2016-11-19 20:42] PlagueHO commented on #164
Hi @reicher001 - thanks for reporting this.

It appears that the resource thinks your DNS Servers on the interface ```Ethernet 2``` are already set in the correct state.

Could you try running this cmdlet on the node:
[code]
The Resource the ServerAddresses property from the above cmdlet. What is being reported by the cmdlet?

Thanks

[2016-11-19 21:21] reicher001 commented on #164
Here are the results.

[2016-11-19 22:18] PlagueHO commented on #164
I might be misunderstanding the problem (it won't be the first time :grin:)~

From your output everything looks to be behaving as expected. The MOF file is attempting to set the DNS Servers of interface ```Ethernet 2``` to 192.168.0.4 and 192.168.0.5. The ```Get-DNSClientServerAddress``` command does show that these DNS Servers are set as expected.

Can specify where in Windows the incorrect DNS s

[2016-11-19 23:14] reicher001 commented on #164
Ok this is strange.  The UI shows there is no DNS setting.

![dns_settings_missing](https://cloud.githubusercontent.com/assets/23545526/20459077/437ed150-ae7b-11e6-8617-1e44877783b2.png)

But ipconfig /all shows the DNS settings just like the powershell cmdlet does.

[2016-11-19 23:18] reicher001 commented on #164
I did a reboot for good measure and still do not see the DNS servers in the GUI.

[2016-11-19 23:22] PlagueHO commented on #164
@reicher001 - now that is really strange!

Which OS version are you running?

If you click the ```Advanced...``` button and then select the DNS tab, do any DNS Servers show up there?

[2016-11-20 00:00] reicher001 commented on #164
Windows 2016 Datacenter

Sadly the Advanced button does not show the DNS servers either.

On Nov 19, 2016, at 5:22 PM, Daniel Scott-Raynsford <
notifications@github.com> wrote:

@reicher001 <https://github.com/reicher001> - now that is really strange!

Which OS version are you running?

If you click the Advanced... button and then select the DNS tab, do any DNS
Servers show up there?

—
You are re

[2016-11-20 00:52] PlagueHO commented on #164
@reicher001 - hmm. It is concerning that PowerShell shows DNS Servers that the GUI doesn't.

Can you run this command and post the output?
[code]

It will use Netsh to output the IP configuration of the adapter.

Also, what is the output of this cmdlet:
[code]

I don't suppose your system has some how managed to get two network adapters with the same name? I know this is pretty unlikely and probab

[2016-11-20 03:38] reicher001 commented on #164
Here is the output of netsh command.

Here is output of the cmdlet.

From the GUI along with commands like this last cmdlet and ipconfig /all I feel like there is only a single network interface.

[2016-11-20 07:33] johlju commented on #164
It is still set as the DNS servers are from an DHCP server that is why they not show up in the GUI. Is that what the problem might be?

[2016-11-20 22:08] reicher001 commented on #164
I would assume that we can set DNS servers even if the IP address is coming from DHCP.  At least we have always been able to do that in the GUI.  That is what makes me think that DSC should be able to do this too.

This is strange.

[2016-11-21 06:19] PlagueHO commented on #164
@johlju - that is good thinking. It is possible it is caused by DHCP being enabled on the IP address. I'll look into this a bit further.

@reicher001 - I'll do a bit more investigation and see if I can replicate the issue.

[2016-11-21 06:48] PlagueHO commented on #164
I've done some further investigation on this (using Windows Server 2016). Unfortunately I have not been able to replicate the problem.

What I did:
1. Started up a clean Windows Server 2016 with an Ethernet adapter configured using DHCP:
![step1](https://cloud.githubusercontent.com/assets/7589164/20472978/7fc98e68-b022-11e6-87a3-fda841d90b2b.png)
2. Executed the cmdlet:
[code]
![step2](https://clo

[2016-11-23 17:00] reicher001 commented on #164
I have run the Set-DnsClientServerAddress cmdlet and here the results.

**Before**
![image](https://cloud.githubusercontent.com/assets/23545526/20571128/e3e103aa-b16b-11e6-8235-e0e4659e7ba0.png)

**After**
![image](https://cloud.githubusercontent.com/assets/23545526/20571149/f3269b9a-b16b-11e6-9211-0f4e06cf6e1f.png)

[2016-11-24 06:13] PlagueHO commented on #164
Hi @reicher001 - Right! I think I might know what is going on here.

Is it possible that the DNS Server addresses of 'Ethernet 2' was already set to 192.168.0.4 and 192.168.0.5 using DHCP _before_ you actually ran the DSC Config on this node?

If the DNS Server addresses were assigned statically using the GUI and then switched back to "Obtain DNS Server Address automatically" through the GUI, Powe

[2016-11-27 04:36] reicher001 commented on #164
Yes you are correct those addresses were being set via DHCP in my test lab.  Once I changed the IP address in my DSC config it is changed and I see the change in the GUI.  :)

Thank you for the explanation on what is going on with my config.

[2016-11-28 06:53] PlagueHO commented on #164
@reicher001 - awesome! I'm glad the mystery is solved :grin:

What I will do is raise an issue on UserVoice to see if I could get MSFT to expose whether or not the DNS Server Address was assigned via DHCP or not. This would presumably need to be exposed via WMI/CIM.

[2016-11-28 07:05] PlagueHO commented on #164
@reicher001 , @johlju : I've raised this issue on [Uservoice](https://windowsserver.uservoice.com/forums/301869-powershell/suggestions/17259101-expose-whether-dns-client-server-address-assigned). If you are able to, go and vote for this so that it might get fixed and I can then put a resolution in for this problem.

[2016-11-28 14:29] reicher001 commented on #164
@PlagueHO Thank you.

[2016-11-29 05:33] PlagueHO commented on #164
@reicher001 - no worries! Can I close this one for now?

I'll reopen it if a fix comes through for the limitation on the ```Get-DNSClientServerAddress```.

[2016-11-29 14:24] reicher001 commented on #164
@PlagueHO Yes this can be closed now.

[2016-11-30 04:54] #164 closed

[2016-12-02 19:29] PlagueHO commented on #151
Hi @marcinbojko - did you have any luck getting the verbose output from Puppet so I could see which parameters were failing test Test-TargetResource call?

[2016-12-02 19:30] PlagueHO commented on #148
Fixed by #159

[2016-12-02 19:30] #148 closed

[2016-12-02 23:09] PlagueHO commented on #130
Hi @wellsluo - thanks for the detailed description of a possible solution to this issue! And sorry for not looking into this sooner.

What I'd like to do is first implement some failing tests around this and then put your fix in. Are you able to provide me with a config example that fails with the AmbiguousParameterSet exception?

[2016-12-02 23:15] PlagueHO commented on #66
@tysonjhayes - It is now possible to have an AppVeyor machine reboot in the init phase, so it might be possible to have it perform an ODJ. However, this really does open up a whole set of other problems (like whose Azure AD account would be used - how can we guarantee this Azure AD is available).

IMHO we should close this and reopen it if/when some solutions to these problems present.

[2016-12-03 07:34] marcinbojko commented on #151
Hi @PlagueHO - nope, but I'll ask guys from puppet dsc module.

[2016-12-07 17:40] PlagueHO opened #166 "Resolve all PSSA Warnings"
There are many warnings now showing up from the PSSA tests. These need to be resolved.

[2016-12-07 17:50] PlagueHO opened #167 "Fix Tests to work with updates to DSCResource.Tests"
DSCResource.Tests had some updates made to it a few weeks ago that causes the tests in this module to now fail.

These need to be fixed.

[2016-12-12 18:29] #167 closed

[2016-12-13 07:55] dm3942 opened #169 "xFirewall RemoteAddress fails test if CIDR notation is used."
xNetworking version 3.0.0.0
RemoteAddress test fails if CIDR notation is used in the configuration. The rule is created, but the test fails.

Recommendations:
1.  Update documentation providing only currently supported formats.
2.  Provide an example.
3.  Provide intellisense option showing a subnet mask notation.
4.  Update code to translate CIDR notation to subnet mask.

----- This firewall will

[2016-12-13 09:25] PlagueHO commented on #169
Thanks for logging this @dm3942

This is expected behavior because the *-NetFirewallAddressFilter cmdlets always returns the address with a netmask rather than in CIDR notation.

It should be possible to to adjust the test in Test-RuleProperties to do a comparison with both the CIDR notation and the netmask.

I'll try and get to this when I can unless someone else gets to this first.

[2016-12-19 20:56] ripclawffb opened #171 "xDnsClientGlobalSetting Test-TargetResource returns incorrect result"
When you pass an array of DNS suffices to the SuffixSearchList parameter, the Test-TargetResource always returns false, even if the current suffix search order is set correctly.

[2016-12-24 01:44] PlagueHO commented on #169
@dm3942 - I'll look at this problem this week.

[2016-12-24 14:06] marcinbojko commented on #151
Ok. maybe it is a holliday spirit, but narowing it down:

which seems to be related with: https://github.com/PowerShell/xNetworking/issues/169

[2016-12-24 14:22] marcinbojko commented on #151
Looks like another (my) array mistake.
Passing it:

remoteaddress = @('192.168.2.0-192.168.2.128','192.168.1.0')

instead of

remoteaddress = @('192.168.2.0-192.168.2.128,192.168.1.0/255.255.255.0')

[2016-12-24 14:22] #151 closed

[2016-12-25 20:24] PlagueHO commented on #151
Oh right, cool! Thank you for letting us know - I might add a new example showing this usage as it is not obvious what the correct format would be.

[2016-12-26 07:58] PlagueHO commented on #169
@dm3942 - I've submitted a fix for this issue in the above PR. Might take a little while to get merged because it is not an insignificant change.

[2017-01-03 07:18] dm3942 commented on #169
No problem. Thanks for considering it.

________________________________
From: Daniel Scott-Raynsford <notifications@github.com>
Sent: Monday, 26 December 2016 6:58:04 PM
To: PowerShell/xNetworking
Cc: Daniel M; Mention
Subject: Re: [PowerShell/xNetworking] xFirewall RemoteAddress fails test if CIDR notation is used. (#169)

@dm3942<https://github.com/dm3942> - I've submitted a fix for this issue

[2017-01-04 20:51] bcwilhite commented on #115
@TravisEz13 @kwirkykat Is there active work on this resource, if not, I'd like to help.  However, I have some concerns that I'd like to discuss.

Let me first start off by highlighting the need for InterfaceAlias renaming, for everyone's understanding:
_The need to have a specific NIC configured with the correct InterfaceAlias and therefore subsequent configuration activity, between OS installatio

[2017-01-04 21:01] TravisEz13 commented on #115
@bcwilhite In the case of a virtual machine knowing the MacAddress ahead of time would be a very high obstacle, to the point of making the resource unusable for that scenario.

I'm open to making the driver description required.

[2017-01-04 21:07] bcwilhite commented on #115
@TravisEz13 True, it would be difficult, my only concern is that you're able to nail down the exact adapter every time, so having the MacAddress at least optional would provide the facility for those that wanted to use it.  So in this case, as the user, they will have to understand their specific needs and what will work for them.

[2017-01-04 22:29] kwirkykat commented on #115
@PlagueHO @TravisEz13 @bcwilhite @gbrayut
I noticed there's already a xNetworkAdapterBinding resource. This can't be added to that resource with a DeviceName/Description property and/or MacAddress property?

Also, I'm not sure why this new resource would be called 'xNetworkAdapterName' rather than creating just  a 'xNetworkAdapter' resource?

Either way, I agree with Travis's proposed schema. Desc

[2017-01-05 09:02] PlagueHO commented on #115
@kwirkykat , @TravisEz13 , @bcwilhite , @gbrayut

It was a while ago since I proposed this resource, but from memory I suggested the name xNetworkAdapterName to differentiate it from the helper module xNetworkAdapter.psm1 @TravisEz13 had created for selecting an adapter. I'm not sure if having both the resource and the support module sharing the same name would end up causing us problems, but I th

[2017-01-05 14:16] bcwilhite commented on #115
@kwirkykat I believe that DriverDescription is still needed, this property isn't as specific as InterfaceDescription, however, the combination of MacAddress and DriverDescription will give the user the flexibility of identifying the correct NIC in the event that the specific InterfaceDescription number is unknown.  DriverDescription is the Driver Name description, whereas InterfaceDescription is t

[2017-01-05 18:03] gbrayut commented on #115
Our preference is using InterfaceDescription to identify the NIC since it is stable across re-provisioning a system and is always unique. There can be some issues with identifying the value prior to OS Deployment, and occasional issues with re-numbering when moving NICs to a different PCI slot or USB port (requiring removing the old "hidden" devices from Device manager to go back to the original n

[2017-01-05 21:11] TravisEz13 commented on #115
@gbrayut I agree different users may have different preferences on how to find the adapter.  I'm not sure I agree that your statement of a guarantee about the Interface description is actually a guarantee by the operating system.

I think this leads to not requiring any of the fields other than the alias to be set.

Going back and answering some of @PlagueHO 's questions I missed:
1.  If the resou

[2017-01-05 22:10] PlagueHO commented on #115
@TravisEz13 - that looks pretty good to me.

We could also add the "Ensure" read parameter as well as @kwirkykat suggested, but I think the name isn't correct if it is just a read parameter. I'd suggest "Exists" or "IsFound":
[code]

[2017-01-05 22:30] TravisEz13 commented on #115
@kwirkykat
IRT, xNetworkAdapterBinding, I single adapter can have multiple bindings so combining the two would lead to a very complex resource.

IRT, this resource vs xNetworkAdapter, It would make at least the MacAddress complicated.  You would need two MacAddress properties.  One to find the adapter and one to set the adapters MacAddress.  To me, it makes more sense to separate the resource of i

[2017-01-06 05:54] #171 closed

[2017-01-07 03:35] PlagueHO commented on #169
@dm3942 - a pleasure doing it. I'm just waiting on my PR to be reviewed so the change can go in.

@tysonjhayes - any chance you might have some time at some point to check over #173 for me - no problems if not sir, I can hassle some of the others a bit :grin: ? I realize it's a bit of a bit large PR because of it includes a bunch of work towards making xNetworking HQRM.

[2017-01-15 06:52] #169 closed

[2017-01-15 07:42] tysonjhayes commented on #152
To keep this issue updated the module was added but most resources do not use it at this time.

[2017-01-15 07:43] tysonjhayes commented on #132
Call was to leave this in all our templates and not remove this at this time. As such I'm closing this issue.

[2017-01-15 07:43] #132 closed

[2017-01-15 14:35] johlju opened #175 "Wiki: Referencing SharePointDsc"
The wiki is referencing SharePointDsc instead of xNetworking.

[2017-01-15 19:26] PlagueHO commented on #175
@tysonjhayes - I couldn't find this in any code, so I'm presuming it was added manually and this was just copy/paste error. So I fixed this by editing the side bar in the Wiki and changing it to xNetworking. Is that the correct way to do it?

[2017-01-15 21:07] tysonjhayes commented on #175
Yup, it was a copy paste error, fix looks good.

[2017-01-15 21:07] #175 closed

[2017-01-16 05:57] PlagueHO commented on #152
@tysonjhayes - I'm working on this one now.

[2017-01-16 07:29] PlagueHO commented on #135
@tysonjhayes - I'm also working on this one. This is likely to touch on all resource PSM1 files, but the tests themselves won't need to change.

[2017-01-16 09:16] PlagueHO opened #176 "Convert all Exceptions to throw using ResourceHelper Functions"
The NetworkingDsc.ResourceHelper.psm1 module contains functions for throwing custom exceptions (as copied from xPSDesiredStateConfiguration). All exceptions in this resource should be converted to call these functions.

Here is a task list of resources that need to be completed:
- [x] MSFT_xDefaultGatewayAddress
- [x] MSFT_xDhcpClient
- [x] MSFT_xDnsClientGlobalSetting
- [x] MSFT_xDnsConnectionSuf

[2017-01-16 10:10] PlagueHO commented on #136
@tysonjhayes has completed this in PR #174

[2017-01-16 10:10] #136 closed

[2017-01-16 10:12] PlagueHO commented on #135
This is about 50% complete. I'm aiming to have the PR submitted over the next few days It will include #176. I will also attempt to address #166 at the same time.

[2017-01-16 10:15] PlagueHO commented on #66
@tysonjhayes - I'm going to close this one, because I don't really see a way to add tests for this. We can reopen this if we figure out some way to execute tests on a domain joined machine in AppVeyor.

[2017-01-16 10:19] PlagueHO commented on #166
Once #135 is completed it actually resolves all PSSA violations except for the Invoke-Expression ones.

[2017-01-16 21:06] tysonjhayes commented on #66
We should add it to the known issues

list.

[2017-01-16 21:24] tysonjhayes commented on #166
I started working on this too, odd are you'll get done before I do but in case it's useful you can find my branch [here](https://github.com/tysonjhayes/xNetworking/tree/pssa_warning).

[2017-01-17 00:24] PlagueHO commented on #166
@tysonjhayes - haha cool - I'm not actually trying to resolve the PSSA issues per se - it is just a by-product of implementing the HQRM guidelines (which will change a lot of lines, but not really change code itself). Hopefully we won't conflict too much :grin:

But if you can figure out a way of getting round the Invoke-Expression, that would be awesome - that is going to be the one that provides

[2017-01-17 00:25] PlagueHO commented on #66
Great suggestion. I've reopend this to ensure it happens!

[2017-01-17 06:48] PlagueHO opened #177 "Error in AppVeyor CI because NUPKG is not produced"
An error is occurring at the end of the AppVeyor CI build process. It appears that the build is not producing the Nuget package:

![image](https://cloud.githubusercontent.com/assets/7589164/22010363/9d3fb70e-dced-11e6-90d3-ea9839aad0e8.png)

[2017-01-19 06:36] #152 closed

[2017-01-19 18:46] tysonjhayes opened #180 "xHostsFile: Refactor Logic for speed and consistency across resources"
I'm refactoring xHostsFile to increase performance for the Get-TargetResource and refactoring the logic across the module. This will include fixes for #176. I'm also rewriting some of the integration tests to cover more broader test coverage (run a single line remove, run a multi-line add, run a multi-line remove).

[2017-01-19 22:03] tysonjhayes commented on #177
Took a few minutes to poke at this.

When I run this on my local machine I can't actually reproduce it.  If you look at the image you can see all of the produced files are appended with 3.1.43.0.

![image](https://cloud.githubusercontent.com/assets/651851/22127057/27b2653c-de4f-11e6-8241-978e0ca869d7.png)

However the nupkg file does not have the final .0 - why is beyond me. I set $env:AppVeyor_Bu

[2017-01-19 23:00] tysonjhayes commented on #66
Actually this really isn't a known issue per se basically we grab the current settings and put them into DSC. Means we're kind of blocked on actually modifying stuff but as we noted that's kind of hard in this scenario. I'm going to close this.

[2017-01-19 23:00] #66 closed

[2017-01-19 23:01] tysonjhayes commented on #114
@PlagueHO  Are you still working on this?

[2017-01-20 00:06] kwirkykat commented on #77
@rchaganti @PlagueHO Yeah looking at that list of functions, NetQos or NetworkQos should be its own resource module.

[2017-01-20 04:37] PlagueHO opened #182 "Add "powershell.codeFormatting.openBraceOnSameLine": false to VSCode Workspace"
I think we should add a VSCode workspace file to the project and add the "powershell.codeFormatting.openBraceOnSameLine": false setting to it.

[2017-01-20 06:09] PlagueHO commented on #114
@tysonjhayes - it's on the backlog... But when I'll actually get to it. I've got a few other resources to get done before I'll get to this (this weekend is assigned to creating the new xCertificateExport resource in xCertificate).

[2017-01-20 06:38] PlagueHO commented on #177
@tysonjhayes - I think I've found the problem:
- **Nuget.exe v3.5.0.1938**: This is the version downloaded by AppVeyor by [this line](https://github.com/PowerShell/xNetworking/blob/dev/appveyor.yml#L6). It produces a NUPKG with the trailing 0 **stripped off**.

- **Nuget.exe v3.4.0.1938**: This is the version I have on my machine - came with VS2015. It produces a NUPKG with the trailing 0 **retain

[2017-01-20 07:07] johlju commented on #177
I got the same error over at xSQLServer. So I wait to see what your solution is a do the same :)

In the appveyor.yml in xSQLServer it is specified a minimum version, so I could also change that to a specific version.

@PlagueHO great work finding that!

[2017-01-20 07:41] johlju commented on #177
Hmm.. in xSQLServer its using `Install-PackageProvider` so I guess I have to change the entire row to solve this one.
But strangely this started happen on the December 31, on December 28 the build was passing, but from December 31 that the error appears. And the same version of package provider is being used. I guess some internals was changed.
I will try @PlagueHO solution this evening.

[2017-01-20 18:46] johlju commented on #177
I have tested a bit...

When using "my own" AppVeyor connected to my fork of xSQLServer it fails when I push to my fork. In these two tests I printed out the version of the Nuget.exe. In the last I also printed the nuspec to see if it contained the right version. It did.

Failed with Nuget v3.4.4.1321:
https://ci.appveyor.com/project/johlju/xsqlserver/build/4.0.315.0#L4551

Failed with Nuget v3.4.

[2017-01-20 19:05] PlagueHO commented on #177
@johlju - that is very odd! I'm looking into this further. Great investigation!

FYI: I think the last two links are transposed (the last one shows a successful run because the build is skipped, but the second to last is failing because of the missing .0).

[2017-01-20 19:23] johlju commented on #177
If I change the .yml to the following it works; https://ci.appveyor.com/project/johlju/xsqlserver/build/4.0.318.0#L4046

[code]

But then I tried to force it to use the nuget.exe in the project folder. And it WORKED!
https://ci.appveyor.com/project/johlju/xsqlserver/build/4.0.319.0#L4003

[code]

@PlagueHO @tysonjhayes Can you see if this works for you as well? If so then there is a nuget.exe in t

[2017-01-20 19:26] PlagueHO commented on #177
I notice SharePointDsc uses the "latest" URL for Nuget.exe as well. But it doesn't look like it has been changed/rebuilt since mid Dec last year. @BrianFarnhill - have you by any chance run across this issue (Nuget stripping off .0 from end of the version number in the NUPKG filename).

[2017-01-20 19:44] PlagueHO commented on #177
@johlju - good detective work! There is a Nuget.exe installed by default in the AppVeyor build worker. I'm not sure which version though.

However, in xNetworking (and SharePointDsc) one of the [first steps](https://github.com/PowerShell/xNetworking/blob/dev/appveyor.yml#L6) we perform is to download a the latest copy of Nuget.exe from Nuget.org into the build folder. However, we use [this code](h

[2017-01-20 19:58] johlju commented on #177
Yes, I need to change so that nuget.exe is download like you do, and using the correct version. Using the current `Install-PackageProvider` install the package in [other folders](https://msdn.microsoft.com/en-us/powershell/reference/5.1/packagemanagement/install-packageprovider#description).

I did see that you are using `Install-PackageProvider` too [here](https://github.com/PowerShell/xNetworkin

[2017-01-20 20:04] PlagueHO commented on #177
I think the ```Install-PackageProvider``` cmdlet only downloads and installs the Nuget Provider assemblies to ```C:\Program Files\PackageManagement\ProviderAssemblies\nuget``` - not Nuget.exe itself - but I could be wrong here.

Good to hear it is working! I'm going to submit a PR through here but perform the entire change within the AppVeyor.psm1 file because I think having it out in the AppVeyor

[2017-01-20 20:13] johlju commented on #177
Yes, I agree. I do it in .yml because I'm not there yet with AppVeyor.psm1. :) I think I wait and see what you guys put together first in DSCResources.Tests.

Side note: I did some work during the holidays to implement AppVeyor.psm1 (based on @tysonjhayes work here), but at the end I did not send in the PR to xSQLServer, still have it though. But I did take some bits an pieces which ended up in a

[2017-01-20 23:45] BrianFarnhill commented on #177
@PlagueHO I haven't noticed it, but I did just have 4 weeks of leave after a fairly hectic run up to Christmas so I haven't been paying as much attention as I should be, so I'll get back in and have a look when I get a minute.

[2017-01-21 01:18] PlagueHO commented on #177
@BrianFarnhill - thank pal!

@tysonjhayes, @johlju - I'm going to fix this issue when I implement support for https://github.com/PowerShell/DscResources/issues/205 in this resource module. I've added code in DSCResource.Tests to ensure a known Nuget.exe is downloaded and used in every case (rather than whatever is found in the build worker).

[2017-01-21 07:56] johlju commented on #177
@PlagueHO Sounds great!

[2017-01-21 08:54] PlagueHO commented on #177
@johlju - I've just finished the changes to DSCResource.Tests and have so far tested it with xNetworking, xDFS and I'm in process of testing it with SharePointDsc and xSQLServer.

Forcing the use of a specific Nuget.exe (which the new AppVeyor.psm1 downloads the $ENV:Temp) resolves the version number NUPKG issue.

Once I've completed the tests on xSQLServer and SharePointDsc with this new AppVeyor

[2017-01-21 09:14] johlju commented on #177
@PlagueHO Awesome work! 👍  Looking forward getting this to xSQLServer as well, so your PR a welcomed! 😄

[2017-01-21 09:42] PlagueHO commented on #177
@tysonjhayes - I've fixed this issue in the PR to move AppVeyor.psm1 over to DSCResource.Tests. Once that is through we can update xNetworking to use it (I've got the PR ready to go). This will fix the Nuget.exe problem.

[2017-01-21 09:47] PlagueHO commented on #177
@kwirkykat - xNetworking is scheduled for release next week, but this issue is currently blocking release. The fix is contained in the PR I submitted to DSCResource.Tests (https://github.com/PowerShell/DscResource.Tests/pull/84). Let me know if you think the change to DSCResource.Tests won't be merged in time and I'll see about cross-porting the fix for this - although I'd rather avoid it if possi

[2017-01-23 23:01] #166 closed

[2017-01-23 23:54] kwirkykat commented on #177
@PlagueHO I can release xNetworking whenever it's ready in-between main DSC Resource Kit releases if this doesn't get done by Wednesday.

But also, we don't actually release the package that AppVeyor creates right now. We probably should (so it's really good this is getting fixed 👍 ), but right now we don't. We clone the repo locally and then just call Publish-Module on the cloned module's path. S

[2017-01-24 18:57] tysonjhayes commented on #177
If this isn't blocking release then ship it! Well get it patched up but no sense in blocking release.

[2017-01-24 23:59] PlagueHO commented on #177
@tysonjhayes - doh! I though I responded to this last night (must have not clicked comment). But yep I reckon we can definitely release this.

[2017-01-26 03:36] PlagueHO commented on #180
I think you completed this one. Closing.

[2017-01-26 03:36] #180 closed

[2017-01-27 06:39] matthitchcock commented on #115
hi

I have a DSC Resource I am using internally for this task at the moment, in our scenario using the MAC address only as an identifier has been fine. The use case has been for Physical Hyper-V servers, we rename specific NIC's on specific networks so we do need to get the MAC addresses first. This information is given when the server is delivered anyway so has never been an issue.

Happy to cont

[2017-01-27 07:04] PlagueHO commented on #115
Hi @matthitchcock - any help is gratefully welcomed! I think we've all been talking about doing this resource for a while now, but nothing has actually happened. I put a forward a MOF spec for it a few comments back but I didn't get an "OK" on it from the community - @TravisEz13, @kwirkykat, @tysonjhayes ?

If we can get a "go" from them, then I'm definitely grateful for the help :grin:

[2017-01-27 20:23] kwirkykat commented on #115
@PlagueHO After a long discussion with @TravisEz13 I understand why this resource is written this way since DSC doesn't have any way to retrieve the name of the NetAdapter. I'm fine with the latest schema proposal from @PlagueHO

[2017-02-01 16:37] gmatusko opened #184 "xNetworkAdapterRegisterDNS"
It would be good if there was a way we could disable a NIC from registering with a DNS server.  This is helpful when using DSC to setup clusters as you don't want to register the nic attached to the cluster network.

[2017-02-02 06:30] PlagueHO commented on #184
Hi @gmatusko - Can't this be done using the [xDNSConnectionSuffix](https://github.com/PowerShell/xNetworking/wiki/xDnsConnectionSuffix) resource? The name of this resource is actually a bit misleading - it should have really been called xDNSClient - but I think it does what you need.

[2017-02-02 17:33] gmatusko commented on #184
Thanks PlaqueHO, totally missed that probably because the name is misleading and never found the wiki page you linked to.  I agree, that resource should be rename to xDnsClient for sure.

[2017-02-02 17:33] #184 closed

[2017-02-02 23:18] PlagueHO opened #185 "Move xNetworkAdapter module into Modules folder and correct style"
The xNetworkAdapter module should be moved into Modules folder and renamed NetworkingDsc.NetworkAdapter to bring it inline with other modules.

The strings should also be moved into a separate strings file.

The style should also be updated to meet HQRM.

[2017-02-09 19:53] GoateePFE opened #187 "Need a wildcard or query for InterfaceAlias property in resources like xIPAddress, xDNSServerAddress, etc."
If I am applying a config to an existing server I have no idea what the interface alias has been named. There is no practical way to know that at the time the MOF is generated from a remote server at scale. (You could remotely query 1000 servers for this, but it is not practical.) For example, need a way built into the resources to apply to all interfaces that are connected except isatap and loopb

[2017-02-10 01:04] PlagueHO commented on #187
Hi @GoateePFE - thanks for raising this. I definitely understand the issue here.

One other possible solution to this problem might to actually rename the Network Adapter as a first step of the DSC. E.g.
[code]
Does this look like it might work as a solution to your issue?

If so, we are in the process of creating the xNetAdapterName resource (see [this issue](https://github.com/PowerShell/xNetwor

[2017-02-10 12:43] GoateePFE commented on #187
I reviewed the new resource proposal. That may work. It would help a lot of people. Thanks.

[2017-02-10 16:05] edycus opened #188 "Need Network Power Settings"
Need the ability to disable power saving mode on NIC.

I use this
function Get-TargetResource
{
	[CmdletBinding()]
	[OutputType([System.Collections.Hashtable])]
	param
	(
		[parameter(Mandatory = $true)]
		[System.String]
		$ServerName
	)

	#Write-Verbose "Use this cmdlet to deliver information about command processing."

	#Write-Debug "Use this cmdlet to write debug information while troubleshoot

[2017-02-10 22:17] PlagueHO commented on #188
Hi @edycus - this looks like a pretty good resource to me!

I would have one suggestion: The $ServerName parameter doesn't look like it is actually needed or required. I'm thinking this param exists because there always needs to be at least one ```key```? If so, recommended method for handling this is to use the ```IsSingleInstance``` param. See [this document](https://msdn.microsoft.com/en-us/pow

[2017-02-10 22:21] PlagueHO commented on #187
@GoateePFE - Ok. cool. I'm just finishing up some work on xCertificate this weekend but will put this one as my next priority to get out. It's been hanging around for a while so definitely needs to get sorted.

[2017-02-13 16:12] edycus commented on #188
Yea, that would great and I would love to help out in anyway that I can. This sounds like a great way to help out the community and improve my skills as well.

[2017-02-13 16:24] edycus commented on #188
You are right the $ServerName is not currently used the idea was maybe in the verbose message would have the servername in it which never happened. I will remove it.  I will look at the  IsSingleInstance  and make changes. The discussion I would like to have in regards to the 802.11 is that is wireless. If for terrible reason you are running this on wireless NIC then you may need to power adapter.

[2017-02-13 16:49] edycus commented on #188
Here is my cleaned up version of the code.

function Get-TargetResource
{
	[CmdletBinding()]
	[OutputType([System.Collections.Hashtable])]
	param
	(
		[parameter(Mandatory = $true)]
		[System.String]
		$AdapterType
	)

    #Write-Verbose "Use this cmdlet to deliver information about command processing."

    #Write-Debug "Use this cmdlet to write debug information while troubleshooting."
    $nic

[2017-02-13 17:32] edycus commented on #188
The one thing I have an issue with is. Present means disabled Power Management setting. Absent mean enable Power Management setting. It seems reversed but I don't like the fact the default would be Absent to disable the Power Management setting when this is the desired state in my case.

[2017-02-14 08:31] PlagueHO commented on #188
@edycus - Rather than using ```Ensure``` as the parameter name it might make more sense to use ```Disable``` as a boolean parameter. That might make it clearer than using Ensure present/absent.

Do you feel like submitting this new resource as a PR?

[2017-02-14 21:07] edycus commented on #188
Do you have an example of using disable. Not sure I have seen it.

Sent from my Verizon, Samsung Galaxy smartphone

-------- Original message --------
From: Daniel Scott-Raynsford <notifications@github.com>
Date: 2/14/17 12:31 AM (GMT-08:00)
To: PowerShell/xNetworking <xNetworking@noreply.github.com>
Cc: edycus <eric.dycustemp1@outlook.com>, Mention <mention@noreply.github.com>
Subject: Re: [Power

[2017-02-15 06:23] PlagueHO commented on #188
Actually, another resource that has a similar design pattern is:
https://github.com/PowerShell/xNetworking/blob/dev/Modules/xNetworking/DSCResources/MSFT_xNetAdapterBinding/MSFT_xNetAdapterBinding.schema.mof#L6

[2017-02-15 19:29] edycus commented on #188
I see. This will take ensure out of the design. Let me work this up and see I'll resubmit

Sent from my Verizon, Samsung Galaxy smartphone

-------- Original message --------
From: Daniel Scott-Raynsford <notifications@github.com>
Date: 2/14/17 10:23 PM (GMT-08:00)
To: PowerShell/xNetworking <xNetworking@noreply.github.com>
Cc: edycus <eric.dycustemp1@outlook.com>, Mention <mention@noreply.github.

[2017-02-19 04:10] #177 closed

[2017-03-01 08:15] mjenne opened #191 "xFirewall doesn't correctly handle Group property"
unable to create / modify a firewall rule and use the group property. Any usage of the this property on Windows Server 2016 node will result in runtime error when applying the configuration.

[2017-03-02 20:44] tysonjhayes commented on #191
Hello @mjenne - could you please post an example config and the resulting errors that you are seeing? This will help us track this down.

[2017-03-07 07:01] PlagueHO opened #194 "Example 4 Wiki entry for xFirewall has display issues"
https://github.com/PowerShell/xNetworking/wiki/xFirewall

[2017-03-07 07:04] PlagueHO commented on #191
Hi @mjenne - is it possible you're seeing something similar to what [this issue](https://github.com/PowerShell/xNetworking/issues/44) describes?

[2017-03-07 18:47] tysonjhayes commented on #194
Likely this is a bug in how the docs get generated, or we missed up the mof file some how. Good catch though!

[2017-03-08 07:40] PlagueHO commented on #194
@tysonjhayes - seems the likely causes! I'll take a look over the weekend (too busy playing with VS2017 :grin:) .

[2017-03-10 13:15] matthitchcock opened #196 "NIC Alias Rename"
Hi

There was an issue open regarding renaming NIC Aliases but I can't seem to find it now. I don't see this functionality has been introduced into the xNetworking module yet. I just wondered if anyone is working on it? If not, I can pick this one up.

The requirements I have are:
- Rename a specific NIC Alias in a New Server scenario where only the MAC address is known

There is a scenario, howev

[2017-03-10 18:42] PlagueHO commented on #196
Hi @matthitchcock - There have actually been a few. But this was the most recent one where it was discussed:
https://github.com/PowerShell/xNetworking/issues/187

There was this issue I raised as well:
https://github.com/PowerShell/xNetworking/issues/122

However, the most likely issue you're talking about is this:
https://github.com/PowerShell/xNetworking/issues/115

It contains the basic design

[2017-03-12 09:54] matthitchcock commented on #196
Hi

Please have a look at https://github.com/matthitchcock/xNetworkAdapterAlias/blob/master/xNetworkAdapterAlias.psm1

These are the initial functions that I have working in my environment. The intention is that they are used on brand new servers where only Physical NIC's are configured so that the initial Alias Names can be set.

This can obviously be enhanced down the road.

[2017-03-14 09:18] matthitchcock commented on #115
Just catching up on this thread, need to read and digest to understand the work involved. For now, I am getting by on my project using the resource I uploaded over the weekend.

I'll check out the Schema - would it require an OS to be already deployed onto the server to get the details required to set the NIC Alias name? I have been primarily considering bare metal scenarios so far.

[2017-03-14 18:17] TravisEz13 commented on #115
It would require that you have an OS deployed to run the configuration (which is always the case)  but not to set the NIC Name.

[2017-03-21 18:50] RobBiddle commented on #187
I ran into this issue as well.  AWS T2 Instances all end up with their primary adapters named "Ethernet", however several other instance types end up with "Ethernet 2" instead.

I ended up writing my own script resource instead, like this:
[https://gist.github.com/RobBiddle/049f1c13bd5f1730fb5412703b7e8153#file-dsc_script_dnsclientservers-ps1](url)

[2017-03-22 08:00] PlagueHO commented on #194
@tysonjhayes - found the problem. Caused by a bug in the auto documentation generation. I've got a PR open there already (to convert the wiki to valid MD). I'll add the fix to that PR.

There are some inconsistencies in the examples though so I'll fix those.

[2017-03-23 15:31] daBONDi commented on #191
Got the same Problem here - Windows Server 2016 Standard RTM + CU2
When Rule not Exists it gets created with Group Property, if Rule Exists with Group Property it fails

Don't got a complete Error Message because i'm calling it trough "Ansible" and over WinRM :-)

Passed Back Exception Message in JSON:
**Parameter set cannot be resolved using the specified named parameters.**

**AmbiguousParameter

[2017-03-23 15:35] daBONDi commented on #191
Looks like same as #130

Until the Bug on Set-NetworkRule with Group Params get fixed, there should be an Ignore If Statement or something.

[2017-03-24 14:04] DarenDaigle opened #198 "xDnsServerAddress needs to set secondary"
I cannot find a way that xDnsServerAddress can set the secondary Address

Daren Daigle

[2017-03-24 14:07] DarenDaigle opened #199 "WINS support"
Looking for this to support both primary and secondary WINS server addresses.

[2017-03-24 21:17] PlagueHO commented on #198
Hi @DarenDaigle - it isn't actually clear from the documentation, but you can specify multiple DNS Server Addresses in xDnsServerAddress:
[code]
I'll get some changes to made to the documentation generation and add an additional example to show this. I'll keep this issue open until this has been resolved.

https://github.com/PowerShell/DscResource.Tests/issues/135

Does this solve your issue?

[2017-04-21 12:16] gammalost opened #202 "Enabling/Disabling of LSO/TSO"
VMware states that for [performance reasons](https://pubs.vmware.com/vsphere-60/index.jsp?topic=%2Fcom.vmware.vsphere.networking.doc%2FGUID-D80AEC2F-E0DA-4172-BFFD-B721BF36C2E8.html) when virtualizing Windows machines one might want to disable TSO/LSO .

Is this something that would be beneficial to add to **xNetworking** as a new resouce **xNetAdapterLso** ?

[2017-04-21 15:06] brwilkinson commented on #187
xDnsConnectionSuffix already seems to work with wildcards. * would change every adapter *Eth* changes adapters that match that pattern.

[2017-04-22 10:40] PlagueHO commented on #202
Hi @gammalost - absolutely - that sounds like something that belongs in here. We should already have a similar resource pattern floating around here somewhere that would be easy to clone and modify to suit this purpose.

[2017-04-22 10:43] gammalost commented on #202
@PlagueHO Great! I'll get on it right away.

[2017-04-24 23:03] PlagueHO commented on #187
I'm beginning work on this one now. It requires modification of the xNetworkAdapter module to enable specifying an adapter by specific parameters. This module also needs to be updated to HQRM style guidelines.

[2017-04-25 08:23] PlagueHO commented on #187
Sorry about the delay getting this done @GoateePFE .

The new xNetAdapterName resource has been submitted for review (see https://github.com/PowerShell/xNetworking/pull/203). It may take a little while to get reviewed depending on how busy the other repo admins are - but I'm aiming for it to be included in the next release of the DSC Resource Kit.

[2017-04-25 17:34] #198 closed

[2017-04-27 10:30] ChrisLGardner opened #205 "xIPAddress doesn't support setting multiple IP Addresses on a single interface"
Currently xIPAddress removes any existing IP addresses on an interface and then sets them to the specified one but there are use cases for setting multiple IP addresses on a single interface. As IPAddress is a string this would mean having multiple xIPAddress in the configuration but the one to run last will take precedence (and may change each time if ApplyAndAutoCorrect is used).

The fix would

[2017-04-27 17:28] ChrisLGardner commented on #205
As mentioned in the the pull request, arrays can't be Key values in the schema.

I'm not sure how important it is that IPAddress be a Key, before this change I can see it would be useful to have unique IPAddress values if using multiple xIPAddress configurations but with this change it would only be necessary to have 1 per Interface.

[2017-04-29 10:54] #202 closed

[2017-05-03 03:58] #187 closed

[2017-05-03 15:17] johlju opened #207 "xNetAdapterName: Using Name as detection parameter does not work"
When using this configuration.
[code]
It gives the error

[code]

Shouldn't this work? If it is already a NIC with the correct (new) name the Test-TargetResource should be return $true?

[2017-05-03 15:18] johlju commented on #207
@PlagueHO I know there is not an example for this configuration. But It did work. It did rename the NIC. Just the second run did not work. 😄

[2017-05-03 17:57] ChrisLGardner commented on #207
Looks like the parameters being passed to Find-NetworkAdapter aren't accounting for the change in name. Just putting together a fix for it now and will submit it soon.

[2017-05-04 07:02] PlagueHO commented on #207
Good catch @johlju and @ChrisLGardner ! That is a really obvious flaw I should have thought of (or at least covered with automated tests). @ChrisLGardner has put through a PR so I'll review it now. Thanks guys.

[2017-05-04 08:19] #207 closed

[2017-05-04 15:32] johlju commented on #207
@PlagueHO @ChrisLGardner Great work guys! Thanks! Though I think I see a flaw in the fix... Please correct me if I'm wrong. But if 'Name' would be assigned to an adapter name that does not exist, then it will always error out with that adapter "NewName" does not exist? That might be confusing.
I this should be fixed, i can add a new issue for it.

[2017-05-05 08:10] PlagueHO opened #209 "xNewAdapterName output misleading when Adapter Not Found"
If the xNewAdapterName resource is used to rename an adapter using the name where an adapter with the existing or new name can't be found then a misleading error message will be shown.

[2017-05-05 08:11] PlagueHO commented on #207
Great catch @johlju - you're very right. I've raised the issue and will get the fix done this weekend:
https://github.com/PowerShell/xNetworking/issues/209

Thanks for being so onto it! :grin:

[2017-05-05 18:21] johlju commented on #207
Awesome! Was just curious how it was resolved (always learn something new when looking at others code), but I looked and went "hmm... wait..." :smile:

[2017-05-06 00:15] PlagueHO commented on #209
@johlju, @ChrisLGardner  - I've found a few more bugs in this (exposed when I extended integration tests to cover a simple rename using name only). So I've fixed those as well.

I've improved the log information as well and extended the integration and unit tests to provide better coverage of these scenarios.

The resource can now be correctly used to rename an adapter by just identifying it by na

[2017-05-06 00:40] PlagueHO commented on #205
Hi @ChrisLGardner - I've started a review of this and I think that this might be breaking change.

It won't affect most usage scenarios, but it depends on how the resource was being used. So according to the guidelines (https://github.com/PowerShell/DscResources/blob/master/CONTRIBUTING.md#breaking-changes) we need to open this for the community to discus for a bit.

Your proposal looks pretty goo

[2017-05-06 10:59] ChrisLGardner commented on #205
I'll add some examples when I get a chance this weekend.

Further thought on my earlier commit to make prefixLength. I can see cases where you'd want to set multiple addresses on a single adapter across multiple prefixes, specifying each in their own xIpAddress block. It's probably not a common situation though, more likely you'd specify a few addresses on a single prefixlength on the same adapter

[2017-05-06 13:24] ChrisLGardner commented on #205
Example of specifying multiple prefix lengths:

[code]

[2017-05-06 20:51] PlagueHO commented on #205
Hi @ChrisLGardner - ah! I see now! That makes sense.

A breaking change is no problem (it'll just cause the major build number to be incremented).

But the reason why this would be considered a breaking change is that it'll change the output of IPAddress in Get-TargetResource from a single string to an array of strings. In 99% of usage scenarios this won't break any configs or automation, but this

[2017-05-07 04:56] johlju commented on #205
I usually set a breaking change on all PR's that change the behavior of existing parameters and when existing output is changed.
I also have set a breaking change when a resource went thru heavy changes internally. Like changing how a setup process is started in xSQLServer. Because that could potentially change how, when and if error messages are thrown.

[2017-05-11 15:03] gaelcolas commented on #158
@zjalexander Have you got an update on the best approach to this?

I see two different things:
1. DSC Resource to Set IE Proxy (Does not apply to Nano?)
2. DSC Resource to set WinHTTP Proxy

I've been looking around and it sounds that the most flexible approach for 1 would be via [PInvoke](http://www.pinvoke.net/default.aspx/wininet/internetsetoption.html?diff=y) calling [InternetSetOption](http:/

[2017-05-12 19:21] zjalexander commented on #158
Feedback from the Nano team is to not worry about handling the Nano case right now.

[2017-05-12 20:47] PlagueHO commented on #158
Thanks for all the info @zjalexander and @gaelcolas - it does sound like calling InternetSetOption with PInvoke would be the only way to go. It is a pity there is no PowerShell (or CIM/WMI) native way of doing this.

[2017-05-17 12:04] andy1547 commented on #113
In this case of switching from static to DHCP it should only reset back to automatic if no primary/secondary DNS is supplied, as it's possible to use both DHCP and a manual DNS server address.

[2017-05-17 12:07] andy1547 opened #211 "xDnsServerAddress does not allow clearing of primary/secondary DNS Address"
Address has a ValidateNotNullOrEmpty attribute however it's a valid operation to clear it.
If using DHCP then the manual address would be set back to automatic (just like the GUI).
If using a static IP, then the manual addresses would be cleared.

[2017-05-26 07:53] andy1547 commented on #211
When empty it should use the following cmdlet Set-DnsClientServerAddress -InterfaceAlias "Ethernet" -ResetServerAddresses
This mimics the Windows UI functionality, if DHCP is enabled DNS is set to  automatic, if static IP is enabled the DNS is set to blank manual address.

[2017-05-29 08:55] PlagueHO commented on #113
Thanks @andy1547 !

As I mentioned a while back, the solution wouldn't be to change xDHCPClient, but to change xDNSServerAddress so that it allowed a blank list of addresses - which would cause
[code]
to be called when the DNS client server addresses need to be changed back to DHCP.

**However there is one very major problem:**
In PowerShell there is no way to detect if the DNS Server Addresses as

[2017-05-29 08:57] PlagueHO commented on #211
Hi @andy1547 - thanks for raising this!

I have battled with this problem for a while now and I've tried to sum up the problem in this issue:
https://github.com/PowerShell/xNetworking/issues/113

I think it actually requires a change to the PowerShell cmdlets to expose whether or not DHCP is enabled on the DNS Client itself - which is currently not visible at all the PowerShell.

[2017-05-29 12:43] andy1547 commented on #113
@PlagueHO
I agree with you that it should be part of xDNSServerAddress not xDhcpClient.

The dynamically returned DNS IPs I've have I battled the same problem in my custom script resource and have came up with a great solution which I've described below.

The scenario you described happens both when the DNS is automatic or manual yet blank (sometimes mine would be 192.168.1.1, other times blank).

[2017-05-30 08:03] PlagueHO commented on #113
Hi @andy1547 - that is some great info.

I would definitely prefer to use native cmdlets rather than the registry for this, but in the absence of the cmdlets I should be able to make your suggestion work. The plan would definitely to try and only make changes to xDNSServerAddress resource as that would be the safest solution.

Let me see what I can do.

[2017-06-01 04:02] glennmate opened #213 "Breaking change: Get-LocalizedData command"
[code]

As of the 4.0.0.0 release today, this module now conflicts with the newly released 3.0.0.0 version of xStorage. The only way to install this module is to use `Install-Module xNetworking -Force -AllowClobber`. This should break aliases between DSC resources.

Please address ASAP, this is a big breaking change.

[2017-06-01 07:14] PlagueHO commented on #213
Thanks for raising this @glennmate

I'll get this fixed ASAP (xStorage will also need the same fix).

[2017-06-01 10:56] PlagueHO commented on #213
Hi @glennmate - I've submitted the changes to the 4 resources that will potentially conflict (xStorage, xNetworking, xCertificate, xDFS). I'll need to wait for someone to review them so I can merge them.

Once that is done I'll see if I can get the DSC team to do a special release for these ones (at least xStorage) to prevent the conflicts.

I've also added some new integration tests that should p

[2017-06-01 20:36] PlagueHO commented on #213
@glennmate - I've made the changes now and they've all been merged. I just need to see if the DSC Resource team can re-release them (only needs one of them to be re-released for now).

[2017-06-01 22:12] PlagueHO commented on #213
@glennmate - a new version of xStorage, xCertificate and xNetworking have all been released to the PowerShellGallery now.

I have confirmed that xNetworking and xStorage can both be installed without using -AllowClobber now.

Sorry again about the conflict!

Also, do note that the latest xStorage has a breaking change in it that will require most configs to have minor updates made (change DiskNumb

[2017-06-03 02:29] PlagueHO commented on #113
I'm working on this now and aim to have it completed by the end of today.

[2017-06-03 23:52] PlagueHO commented on #122
This can be closed with the release of 4.1.0.0.

[2017-06-03 23:52] #122 closed

[2017-06-03 23:52] PlagueHO commented on #115
This can be closed with the release of 4.1.0.0.

[2017-06-03 23:52] #115 closed

[2017-06-03 23:53] PlagueHO commented on #196
Hi @matthitchcock - as 4.1.0.0 has been released with the new xNetAdapterName resource, can we close this one?

[2017-06-03 23:56] PlagueHO commented on #211
Hi @andy1547 - I've completed the changes for this and am just waiting for a review to merge into the Dev branch. But if you're up for it you could test my version here:
https://github.com/PlagueHO/xNetworking/tree/Issue-113

Thanks!

[2017-06-04 09:54] #209 closed

[2017-06-05 14:04] johlju commented on #199
I'm also interested to turn it off. This Script resource also turns of both WINS and LMHosts.

[code]

[2017-06-07 11:04] johlju opened #217 "Want to be able to turn off "Append parent suffixes of the primary DNS suffix""
Is there a resource today that can turn off (or on) the setting 'Append parent suffixes of the primary DNS suffix'?

If not, which resource would be be suited to do that?

![image](https://user-images.githubusercontent.com/7189721/26875379-d4262214-4b81-11e7-995e-ade69265e89d.png)

[2017-06-07 17:10] PlagueHO commented on #217
Hi @johlju ,

I though `MSFT_xDnsClientGlobalSetting` did this - but I am wrong :cry:

It appears after a little bit of research that the cmdlet `Get/Set-DnsClientGlobalSetting` that should be able to set this value can only "get" the values:
![image](https://user-images.githubusercontent.com/7589164/26890864-31c87ca2-4c07-11e7-976b-e1767920d063.png)

But worse - the values returned in the object